
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{background-image: none!important;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{background-image: none!important;}

.ArrowIcon{position: absolute;top: 50%;left:1%;right: 1%;transform: translateY(-50%); z-index: 1;}
.ArrowIcon span{width: 50px;height: 50px;opacity: 1;background: none;}
.ArrowIcon span img{width: 100%;height: 100%;}

/* 公司简介 */
.aboutUs{padding: 190px 0 120px;}
.aboutUs .aboutL{width: 38%;}
.aboutUs .aboutR{width: 55%;overflow: hidden;position: relative;}
.aboutL h1{font-size: 60px;line-height: 1;padding-bottom: 60px;transition: all 0.5s;letter-spacing: 10px;}
/* .aboutL h1:hover{color: #5c5c5c;} */
.aboutL h1 span{font-size: 46px;color: #BABABA;padding-left: 0;letter-spacing: 0;}
.aboutL .con{line-height: 2.5;font-size: 14px;margin-bottom: 68px;}
.aboutR video{width: 100%;height: auto;float: right;}
.poster{position: absolute;top: 0;left: 0;bottom: 0;right: 0;}
.posterImg{width: 100%;height: 100%;}
.play{width: 100rpx;height: 100rpx;position: absolute;top: 0;left: 0;bottom: 0;right: 0;margin: auto;cursor: pointer;}
.jj{min-height: 520px;}

/* 经典案例 */
.case .allH1{margin: 60px auto 100px;}
.case{min-height: 900px;}
.case .con2{display: none;min-height: 520px;}

.case .con .item{position: relative;width: 33.33%;transition: all 0.5s;overflow: hidden;}
.case .con .item img{width: 100%;height: auto;transition: all 0.5s;}
.case .con .b-name{line-height: 60px;color: #fff;text-align: center;background-color: #000;font-size: 32px;position: absolute;bottom: 70px;left: 0;right: 0;opacity: 1;transition: all 0.5s;padding: 0 20px;letter-spacing: 10px;}
.case .caseMask{background-color: rgba(0,0,0,0.4);position: absolute;left: 0;top: 0;right: 0;bottom: 0;display: flex;align-items: center;justify-content: center;transition: all 0.8s;opacity: 0;}
.caseMask .b-f{border: 4px solid #fff;width: 40%;height: 40%;margin: auto;color: #fff;font-size: 14px;flex-direction: column;align-items: flex-start;justify-content: center;display: flex;transition: all 0.5s;}
.caseMask .b-fCon{width: 80%;margin: 0 auto;}
.caseMask .b-f h1{font-size: 22px;width: 280px;line-height: 1;padding-bottom: 30px;position: relative;}
.caseMask .b-f h1::before{content: '';width: 60px;height: 2px;background: #fff;position: absolute;left: 0;bottom: 0;}
.caseMask .b-f p{margin: 30px 0;line-height: 2;}
.caseMask .b-f a{color: #fff;}
.case .item:hover .caseMask{opacity: 1;}
.case .item:hover .b-f{width: 63%;height: 65%;}
.case .item:hover .b-name{opacity: 0;}
.case .item:hover .caseImg{transform: scale(1.1,1.1);}
/* .swiper-container3{width: 100%;} */
/* .swiper-wrapper{overflow: hidden;} */
.swiper-container3 { width: 100%;position: relative;}
.swiper-container3 ul{width: 100%;}

/* 最新案例 */
.news{margin: 0 auto;}
.news .allH1{margin-top: 130px;}
.newsItem{padding: 100px 0;border-bottom: 1px solid #e1e1e1;height: 500px;}
/* .newsItem .LL,.newsItem .RR{} */
.newsItem .L{width: 48%;overflow: hidden;}
.newsItem .L img{width: 100%;height: 100%;max-height: 500px;transition: all 0.5s;}
.newsItem .L:hover .Limg{transform: scale(1.1,1.1);}
.newsItem .R{width: 48%;}
.newsItem .R h1{font-size: 30px;margin-bottom: 60px;transition: all 0.5s;}
.newsItem .R h1:hover{color: #5c5c5c;}
.newsItem .R p{font-size: 16px;color: #666;line-height: 2.5;margin-bottom: 50px;min-height: 200px;}

/* 品牌合作 */
.part3{background-color: #000000;padding: 120px 0;color: #fff;padding-left: 6%;}
.part3 .L{width: 60%;}
.part3 .L h1{font-size: 50px;line-height: 1;padding-bottom: 60px;}
.part3 .L p{font-size: 22px;margin-bottom: 40px;line-height: 2;min-height: 264px;}
.part3 .L a{font-size: 18px;cursor: pointer;color: #fff;}
.part3 .R .IconBox{margin-left: 30px;width: 380px;height: 240px;border-radius: 20px;overflow: hidden;position: relative;}
.part3 .R .IconBox .bg{width: 100%;height: 100%;}
.part3 .R .Icon{width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);position: absolute;top: 0;left: 0;border-top-left-radius: 20px;border-bottom-left-radius: 20px;}
.part3 .R .Icon:hover{background-color: rgba(255,255,255,0.3);}
/* .qtImg1{transition: all 0.5s;}
.part3 .qtImg1:hover{background-color: rgba(255,255,255,0.3);} */
.part3 .R .Icon img{width: 160px;}
.part3 .R .flex{justify-content: flex-end;}
.font31{font-size: 31px;}
.IconBoxs{position: relative;display: flex;margin: 30px 0  30px 50px;}
.qtImg{height: 240px;}

.part3 .R2{display: none;}


.o-h{overflow: hidden;}

/* 企业动态 */
.ind-dynamic .item{margin-bottom: 60px;position: relative;}
.ind-dynamic .item a{align-items: flex-start; width: 100%;}
.ind-dynamic .item .texbox{width:45%;margin-top: 20px;}
.ind-dynamic .item .texbox .tit{font-size: 22px;line-height: 30px;}
.ind-dynamic .item .texbox .form{font-size: 16px; padding: 15px 0 10px 0; color: #444;line-height: 20px;}
.ind-dynamic .item .texbox .text2{color: #666;font-size: 16px;line-height: 30px;}
.ind-dynamic .item .imgBox{width: 50%;height: 223px;overflow: hidden;position: relative;}
.ind-dynamic .item .imgBox img{width: 100%;height: 100%;transition: all 0.8s;box-sizing: border-box;padding: 1px;}

.fixArrow{position: absolute;top: -2px;left: 49.9%;z-index: 2;width: 10%;height: 103%;background: url(../images/BigArrow-icon1.png) 0 0/100% 100%;}
.ind-dynamic>div:nth-of-type(2n) .fixArrow{right: 49.9%;left: auto;background-image: url(../images/BigArrow-icon2.png);}


/* 底部图 */
.footImg{padding-top: 13%;}
.footImg img{margin: 0 auto;width: 60%;}

/* .ind-dynamic .item:last-child{margin-bottom: 0;} */
/* .ind-dynamic .item .imgBox::before{content: '';    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
	border-top: 224px solid #F5F5F5;
	border-right: 121px solid transparent;
    z-index: 2;
}
.ind-dynamic>div:nth-of-type(2n) .item .imgBox::before{
	left: auto;
	right: 0;
	border-right: none;
	border-left: 121px solid transparent;
} */
.ind-dynamic .item .imgBox:hover img{transform: scale(1.1);}
.aboutH1{display: none;}
.aboutR2{display: none;}

.part3{min-height: 800px;}

/*以下自适应样式*/
.flex-wrap{flex-wrap: wrap;}
@media only screen and (max-width: 1800px){
	.part3 .R .IconBox{width: 340px;height: 240px;}
	.qtImg{height: 240px;}
}

@media only screen and (max-width: 1700px){
	.aboutL h1 span{font-size: 30px;}
	.aboutL h1{font-size: 50px;}
	.aboutL .con{ -webkit-line-clamp:5;}
	
	.aboutUs{padding: 100px 0;}
	.jj{min-height: 520px;}
	.case .con1{min-height: 620px;}
	
	.newsItem{height: 400px;padding:50px;}
	.newsItem .R h1{font-size: 26px;margin-bottom: 50px;}
	.newsItem .R p{margin-bottom: 40px;-webkit-line-clamp:4;min-height: 150px;}
	.part3 .R .IconBox{width: 320px;height: 220px;}
	.qtImg{height: 220px;}
	.part3 .R .IconBox{margin-bottom: 20px;}
	.IconBoxs{margin: 20px 0;}
	.part3 .R .Icon img{width: 100px;}
	.part3{padding: 80px 0 80px 4%;}
	.part3 .L h1{font-size: 40px;}
	.part3 .L p{font-size: 20px;}
	.part3 .L{width: 25%;}
	.part3 .R{width: 75%;padding-bottom: 0;}
	
	.case .con .b-name{font-size: 30px;line-height: 2;}
	.caseMask .b-f{width: 70%;height: 70%;}
	.caseMask .b-f h1{width: 180px;font-size: 20px;}
}

@media only screen and (max-width: 1410px){
	.part3 .R .IconBox{width: 300px;height: 200px;}
	.qtImg{height: 200px;}
	.newsItem .L img{max-height: 350px;}
}

@media only screen and (max-width: 1325px){
	.part3 .R .IconBox{width: 280px;height: 180px;}
	.qtImg{height: 180px;}
}

@media only screen and (max-width: 1250px){
	.part3 .R .IconBox{width: 250px;height: 150px;}
	.qtImg{height: 150px;}
	
	.newsItem .L{width: 58%;}
	.newsItem .R{width: 38%;}
	.newsItem .R h1{overflow: hidden;text-overflow: ellipsis;display:-webkit-box;word-break:break-all;-webkit-box-orient:vertical; -webkit-line-clamp:2;width: 100%;font-size: 20px;margin-bottom: 30px;}
	.newsItem .R p{line-height: 2;}
}

@media only screen and (max-width: 1100px){
	.part3 .R .IconBox{width: 220px;height: 120px;}
	.qtImg{height: 120px;}
	.part3 .R .Icon img{width: 60px;}
}

@media only screen and (max-width: 980px){
	.part3 .R .IconBox{width: 180px;height: 90px;}
	.qtImg{height: 90px;}
}

	

@media only screen and (max-width: 1024px){
	.ind-dynamic .item .imgBox{width: 55%;height: 166px;}
	.ind-dynamic .item .texbox{width: 42%;margin-top: 0;}
	.ind-dynamic .item .texbox .form{padding: 0 0 10px 0;font-size: 14px;}
	.ind-dynamic .item .btn{width: 80px;line-height: 30px;height: 30px;}
	.ind-dynamic .item .texbox .tit{margin-bottom: 15px;font-size: 16px;line-height: 30px;overflow: hidden;text-overflow: ellipsis;display:-webkit-box;word-break:break-all;-webkit-box-orient:vertical; -webkit-line-clamp:2;width: 100%;}
	.ind-dynamic .item .texbox .text2{ overflow: hidden;text-overflow: ellipsis;display:-webkit-box;word-break:break-all;-webkit-box-orient:vertical; -webkit-line-clamp:2;}
	.ind-dynamic .item:nth-of-type(2n) .Bbtn{justify-content: flex-end;}
	
	.fixArrow{left: 44.9%;}
	.ind-dynamic>div:nth-of-type(2n) .fixArrow{right: 44.9%;}
}

@media only screen and (max-width: 800px){
	.aboutL h1{display: none;}
	.aboutH1{display: block;margin-bottom: 20px;}
	.aboutUs{padding: 80px 0 0;}
	.aboutUs .jj{display: block;}
	.aboutUs .aboutR,.aboutUs .aboutL{width: 100%;}
	.aboutR2{display: block;}
	.aboutR1{display: none;}
	.aboutUs .aboutL .moreBtn{margin: 0 auto;}
	.aboutL .con{font-size: 22px;line-height: 1.8;-webkit-line-clamp: 4;margin: 30px 0 40px;}
	
	.case .allH1{margin: 60px auto 30px;}
	.case .con1{display: none;}
	.case .con2{display: block;}
	.case .con{width: 95%;margin: 0 auto;overflow: hidden;white-space: nowrap;}
	.case .con .item{width: 100%;display: inline-block;}
	.case .con .b-name{font-size: 40px;line-height: 2;}
	.caseMask{opacity: 1;}
	.caseMask .b-f{width: 70%;height: 70%;font-size: 22px;}
	.caseMask .b-f h1{width: 280px;font-size: 30px;}
	.caseMask .b-f p{white-space: initial;}
	
	.news{padding-bottom: 30px;}
	.news .allH1{margin: 60px auto;}
	.newsItem{height: auto;padding: 0;display: block;margin: 0;border: none;}
	.newsItem .L,.newsItem .R{width: 100%;}
	.newsItem .L{padding-bottom: 40px;}
	.newsItem .R h1{font-size: 30px;padding: 0 0 30px;border-bottom: 1px solid #e1e1e1;margin: 0;}
	.newsItem .R p{font-size: 24px;line-height: 1.8;padding-top: 30px;}
	.newsItem .R .moreBtn{margin: 0 auto 20px;}
	#news2{display: none;}
	
	.mg130{display: none;}
	.part3{padding: 0 2%;display: block;min-height: 600px;}
	.part3 .L,.part3 .R{width: 100%;}
	.part3 .hd{flex-wrap: nowrap;width: 100%;}
	.part3 .L h1{font-size: 50px;padding: 100px 0 50px;}
	.part3 .L p,.part3 .L div{font-size: 24px;}
	.IconBoxs{margin: 60px 0;}
	.part3 .R2{display: block;padding: 30px 0;overflow: hidden;}
	.part3 .R .IconBox{margin: 0 auto;}
	.part3 .R1{display: none;}
	.part3 .R .Icon img{width: 80px;}
	
	.part3 .L{display: none;}
}

@media only screen and (max-width: 700px){
	.ind-dynamic .item .imgBox{height: 120px;}
}

@media only screen and (max-width: 500px){
	
	.jj{min-height: 420px;}
	.case{min-height: 500px;}
	.part3{height: 575px;min-height: 0;}
	.footImg img{width: 80%;}
	
	.seeMoreBtn{width: 100px;line-height: 36px;height: 36px;font-size: 12px;margin-top: 35px;}
	.seeMoreBtn .arrow{width: 10px;height: 10px;}
	
	.ind-dynamic .item{margin-bottom: 25px;}
	.ind-dynamic .item .imgBox{height: 98px;}
	.ind-dynamic .item .imgBox img{width: auto;min-width: 100%;height: 100%;position: relative;}
	.ind-dynamic .item .texbox .tit{margin-bottom: 3px;font-size: 14px;line-height: 20px;}
	.ind-dynamic .item .texbox .form{font-size: 12px;padding-bottom: 5px;}
	.ind-dynamic .item .texbox .text2{ -webkit-line-clamp: 2;font-size: 12px;line-height: 20px;}
	.ind-dynamic .item .btn{width: 70px;font-size: 12px;line-height: 24px;height: 24px;margin-top:10px;}
	
	.aboutUs{padding: 30px 0;}
	.aboutL .con{font-size: 14px;margin: 20px 0 30px;}
	
	.case .allH1{margin: 20px auto 30px;}
	.case .con .b-name{font-size: 20px;line-height: 40px;font-weight: bold;letter-spacing: 5px;}
	.caseMask .b-f{font-size: 14px;height: 75%!important;border: 2px solid #fff;width: 70%!important;}
	.caseMask .b-f h1{width: 180px;font-size: 18px;padding-bottom: 20px;}
	.caseMask .b-f h1::before{width: 40px;}
	.caseMask .b-f p{line-height: 1.8;margin-top: 50px;}
	
	/* .caseMask .b-f{width: 70%;height: 70%;font-size: 22px;}
	.caseMask .b-f h1{width: 280px;font-size: 30px;}
	.caseMask .b-f p{white-space: initial;} */
	
	.news .allH1{margin: 30px auto;}
	.newsItem{min-height: 430px;padding-bottom: 20px;}
	.newsItem .L{padding-bottom: 20px;}
	.newsItem .R h1{font-size: 20px;padding-bottom: 20px;}
	.newsItem .R p{font-size: 14px;padding-top: 20px;margin-bottom: 20px;min-height: 80px;}
	.newsItem .R .moreBtn{margin-bottom: 30px;}
	
	.part3 .L{display: none;}
	.part3 .R .IconBox{width: 280px;height: 170px;}
	.part3 .R .Icon img{width: 80px;}
	
	.play{width: 60px;height:60px;}
	
	.case .con{position: relative;}
	.pointBox{display: flex;align-items: center;justify-content: center;position: absolute;bottom: 13%;width: 100%;z-index: 1000;}
	.swiper-pagination-bullet{width: 5px;height: 5px;background-color: #e1e1e1;margin: 0 8px 10px!important;border-radius: 50%;box-sizing: border-box;}
	.swiper-pagination-bullet-active{background-color: initial;border: 1px solid #e1e1e1;width: 7px;height: 7px;margin-bottom: 9px!important;}
}

