

/* 招聘 */
.jobPin{min-height: 200px; box-sizing: border-box;}
.jobPin ul{flex-wrap: wrap;align-items: flex-start;}
.jobPin li{width: 50%;box-sizing: border-box;padding-right: 100px;margin:20px 0;}
.jobPin li:nth-of-type(2n){border-left: 1px solid #c3c3c3;padding-left:100px;padding-right: 0;}
.jobPin li .infor{position: relative;padding: 10px 0 30px 40px;}
.jobPin li .infor .icon{width: 25px;height:25px;display: block;position: absolute;top:5px;left: 0;}
.jobPin li .infor .tit{font-size: 16px;}
.jobPin li .infor p{font-size: 14px;margin-top: 20px;}


@media only screen and (max-width: 1000px){
	.jobPin li{padding-right: 4%;}
	.jobPin li:nth-of-type(2n){padding-left: 4%;}
}

@media only screen and (max-width: 500px){
	.jobPin{min-height: 130px;}
	.jobPin li .infor .tit{font-size: 15px;}
	.jobPin li .infor{padding: 5px 0 10px 30px;}
	.jobPin li .infor .icon{width: 20px;height: 20px;}
	.jobPin li .infor p{font-size: 12px;margin-top: 10px;}
}

