
.orderNav{padding: 25px 0;}
.orderNav .tt{ text-align: center; line-height:40px;box-sizing: border-box;margin: 0 3%;font-size: 16px; color: #666;}
.orderNav .tt .icon{width: 24px;height: 24px;margin-right: 10px;}
.orderNav .tt.on{ color: #222; font-weight: bold;}

.FixOrderNav{padding: 0!important;left: 0;top:15%;position: fixed;width: 120px;background-color: #fff;border-radius: 3px;box-shadow: 2px 0 5px rgba(0,0,0,0.2);padding: 0 10px; z-index: 10001;}
.FixOrderNav .tt{width: 100%;line-height: 60px;border-bottom: 1px solid #eee;margin: 0;cursor: pointer;}
.FixOrderNav .tt:last-child{border-bottom: 0;}
.FixOrderNav .tt:hover{background-color: #fafafa;}
.FixOrderNav .tt .icon{width: 24px;height: 24px; margin-right: 10px;}

.orderNavTop{display: none;}

@media only screen and (max-width: 1024px){
	/* .orderNav{display: none;} */
	.orderNavLeft{display: none;}
	.orderNavTop{width: 80%;left: 10%;top: 60px;display: flex;}
	.orderNavTop .tt{width: 25%;height: 40px;}
	.ind-dynamic{padding-top: 30px;}
}

@media only screen and (max-width: 768px){
	/* .orderNav{display: none;} */
	.orderNavLeft{display: none;}
	.orderNavTop{width: 80%;left: 10%;top: 50px;display: flex;}
	/* .orderNavTop .tt{width: 33.3%;height: 40px;} */
	.ind-dynamic{padding-top: 0px;}
}

@media only screen and (max-width: 500px){
	/* .orderNav{ flex-wrap: wrap;display: none;} */
/* 	.orderNav .tt{font-size: 14px;margin: 0 4%;}
	.orderNav .tt .icon{width: 18px;height: 18px;margin-right: 5px;} */
	.orderNav .tt{line-height: 50px;}
	
	.FixOrderNav{width: 92px;}
	.FixOrderNav span.tt{margin: 0;font-size: 13px;line-height: 50px}
	.FixOrderNav .tt .icon{width: 18px;height: 18px;margin-right: 6px;}
	
	.orderNavTop{width: 80%;left: 10%;top: 50px;display: flex;flex-wrap: wrap;justify-content: center;}
	/* .orderNavTop .tt{width: 33.3%;height: 40px;} */
	/* .ind-dynamic{padding-top: 0;} */
}


