html{-webkit-text-size-adjust: none;}
body{font-size:14px;font-family:'微软雅黑','Helvetica Neue',Helvetica,Arial,'Microsoft YaHei','WenQuanYi Zen Hei','WenQuanYi Micro Hei'; color:#222;letter-spacing:3px;}
*{margin:0; padding:0;}
img{ border:none;display:block;}
ul,li{list-style:none;}
button, input, optgroup, option, select, textarea {font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;outline: 0;}
a{ text-decoration: none; outline: none; color:#222;cursor: pointer;-webkit-tap-highlight-color:transparent}
a:link, a:visited {text-decoration: none; outline: none;}
em,i{font-style:normal;}
input, button,textarea{ cursor: pointer; -webkit-appearance: none;-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0); border: none;}
input[type="checkbox"]{ -webkit-appearance: checkbox;-moz-appearance: checkbox;appearance: checkbox;}
table{display: table; border-collapse: separate; border-spacing: 2px; border-color: grey; border-collapse: collapse; border-spacing: 0;background-color: transparent;}
thead{display: table-header-group; vertical-align: middle; border-color: inherit;}
tbody{display: table-row-group; vertical-align: middle; border-color: inherit;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
.clearfix:after{clear:both;display:block;content:"";height:0;line-height:0;visibility:hidden;}
.clearfix{zoom:1;}
input::placeholder,textarea::placeholder {color: #999;}
textarea{width: 100%;padding: 10px; box-sizing: border-box;font-size: 14px;color: #666;}
.hand{cursor: pointer;}


::selection
{
background-color: #383838;
color:#fff;
}
::-moz-selection
{
background-color: #383838;
color:#fff;
}


/* 新增 */
.w1660{width: 1660px;margin: 0 auto;}
.moreBtn{width: 140px;line-height: 45px;color: #fff;font-size: 14px;text-align: center;background-color: #383838;cursor: pointer;transition: all 0.5s;box-shadow: 0 3px 6px 2px #bebebe;display: block;letter-spacing: 1px;border-radius: 3px;}
.moreBtn:hover{background-color: #5c5c5c;}

.allH1{padding: 20px 0;border-bottom: 2px solid #BABABA;position: relative;width: 1660px;margin: 0 auto;}
.allH1::before{content: '';width: 100px;height: 6px;background-color: #BABABA;position: absolute;right: 0;bottom: -6px;}
.allH1 h1{font-size: 30px;line-height: 1;color: #BABABA;}
.allH1 h1 span{font-size: 36px;padding-right: 0;color: #333;transition: all 0.5s;letter-spacing: 10px;}
/* .allH1 h1 span:hover{color: #5c5c5c;} */

/* .LL,.RR{opacity: 0;} */
/* 新增 */

.borderB1{border-bottom: 1px solid #eee;}
.bordBno{ border-bottom: none;}
.f5H5{height: 5px; background: #f5f5f5;}
.f5H10{ height: 10px; background: #f5f5f5;}
.f5bj{background: #f5f5f5;}
.whiteBj{background: #fff;}
.pubBj{ background: #c11719;}

.w{ width: 100%;}
.pf{position: fixed;}
.pr{position: relative;}
.oh{overflow: hidden;}
.center{ text-align: center;}
.cl{clear: both;}
.pdlr4{padding: 0 4%;}
.mglr4{margin: 0 4%;}
.pdlr2{padding: 0 2%;}
.mglr3{margin: 0 2%;}

.boxShaow{box-shadow: 0 0 8px rgba(0,0,0,0.15);}

.pubColor{ color: #c11719;}
.red{color: red;}
.white{color: #FFF;}
.color2{color:#222;}
.color3{color:#333;}
.color6{color: #666;}
.color9{color: #999;}
.color5{color: #555;}

.radius8{border-radius:4px ;}
.radius10{border-radius:5px ;}
.arrowR{width: 8px; height: 13px; display: block; margin-left: 5px;}

.black-bj,.black-bj2 {background: #000;opacity: 0.5;position: fixed;left: 0;top: 0;right: 0;bottom: 0;z-index: 40; }
.closebtn{ position:absolute; right:10px; top:10px; height:20px; text-align:center; line-height:20px; cursor:pointer;}
/* 关闭按钮 */
.closeBtn{ position: absolute; top: -40px; left: 50%;transform: translateX(-50%); width: 22px; height: 22px; border-radius: 50%; font-size: 23px; color: #eee; border:1px solid #eee; line-height: 22px; text-align: center;}
.w1200{ width: 1200px; margin:0 auto;box-sizing: border-box;}
.w1100{ width: 1100px; margin:0 auto;box-sizing: border-box;}

/* 标题 */
.pubtit{padding: 70px 0 50px 0;}
.pubtit .title{ font-size: 24px;line-height: 30px;font-weight: bold;text-shadow: 0 5px 2px rgba(0,0,0,0.2);}
.pubtit .icon{width: 30px;height: 30px;margin-right: 20px; }
.pubtit .more{color: #C11719;font-size: 14px;}

.seeMoreBtn{width: 120px;height: 40px;line-height: 40px;border-radius: 5px;text-align: center;border: 1px solid #c11719;margin-top: 50px;}
.seeMoreBtn .arrow{width: 12px;height: 12px;margin-left: 5px;}

.h44{ height: 44px;}
.h50{ height: 50px;}
.h100{ height: 100px;}

/* Font */
.ftw{font-weight: bold;}
.ftn{font-weight: normal;}

.fs8{font-size: 8px;}
.fs9{font-size: 9px;}
.fs10{font-size: 10px;}
.fs12{font-size: 12px;}
.fs13{font-size: 13px;}
.fs14{font-size: 14px;}
.fs15{font-size: 15px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px;}
.fs20{font-size: 20px;}
.fs22{font-size: 22px;}
.fs24{font-size: 24px;}
.fs30{font-size: 30px;}
.fs36{font-size: 36px;}

/* Spacing */
.line20{line-height: 20px;}
.line22{line-height: 22px;}
.line24{line-height: 24px;}
.line26{line-height: 26px;}
.line30{line-height: 30px;}
.line36{line-height: 36px;}
.line40{line-height: 40px;}
.line44{line-height: 44px;}
.line50{line-height: 50px;}

/* Margin */
.mg0{margin: 0 auto;}
.mg5{margin: 5px;}
.mg10{margin: 10px;}
.mg15{margin: 15px;}
.mg20{margin: 20px;}
.mg30{margin: 30px;}
.mg40{margin: 40px;}
.mg50{margin: 50px;}

.mgt5{ margin-top: 5px;}
.mgt10{ margin-top:10px; }
.mgt20{ margin-top:20px; }
.mgt30{ margin-top:30px; }
.mgt40{ margin-top:40px; }
.mgt50{ margin-top:50px; }

.mgr5{margin-right: 5px;}
.mgr10{margin-right: 10px;}
.mgr15{margin-right: 15px;}
.mgr20{margin-right: 20px;}
.mgr30{margin-right: 30px;}
.mgr40{margin-right: 40px;}
.mgr50{margin-right: 50px;}

.mgl5{margin-left: 5px;}
.mgl10{margin-left: 10px;}
.mgl15{margin-left: 15px;}
.mgl20{margin-left: 20px;}
.mgl30{margin-left: 30px;}
.mgl40{margin-left: 40px;}
.mgl50{margin-left: 50px;}

.mgtb5{ margin:5px 0;}
.mgtb10{ margin:10px 0;}
.mgtb15{ margin:15px 0;}
.mgtb20{ margin:20px 0;}
.mgtb30{ margin:30px 0;}
.mgtb40{ margin:40px 0;}
.mgtb50{ margin:50px 0;}

.mglr5{ margin:0 5px;}
.mglr10{ margin:0 10px;}
.mglr15{ margin:0 15px;}
.mglr20{ margin:0 20px;}
.mglr30{ margin:0 30px;}
.mglr40{ margin:0 40px;}
.mglr50{ margin:0 50px;}

.mgb5{margin-bottom: 5px;}
.mgb10{ margin-bottom:10px; }
.mgb15{margin-bottom: 15px;}
.mgb20{margin-bottom: 20px; }
.mgb30{margin-bottom: 30px;}
.mgb40{margin-bottom: 40px;}
.mgb50{margin-bottom: 50px;}

/* Padding */
.pd10{padding:10px;}
.pd20{padding: 20px}
.pd25{padding: 25px;}
.pd30{padding: 30px;}
.pd40{padding: 40px;}

.pdlr10{padding:0 10px;}
.pdlr20{padding:0 20px;}
.pdlr40{ padding:0 40px;}

.pdt5{ padding-top: 5px;}
.pdt10{ padding-top: 10px;}
.pdt15{ padding-top: 15px;}
.pdt20{padding-top: 20px;}
.pdt30{padding-top: 30px;}
.pdt40{padding-top: 40px;}
.pdt50{padding-top: 50px;}

.pdb5{ padding-bottom: 5px;}
.pdb10{padding-bottom: 10px;}
.pdb15{padding-bottom: 15px;}
.pdb20{padding-bottom: 20px;}
.pdb30{padding-bottom: 30px;}
.pdb40{padding-bottom: 40px;}
.pdb50{padding-bottom: 50px;}
.pdb80{padding-bottom: 80px;}

.pdl5{ padding-left: 5px;}
.pdl10{padding-left: 10px;}
.pdl20{padding-left: 20px;}
.pdl30{padding-left: 30px;}
.pdl40{padding-left: 40px;}
.pdl50{padding-left: 50px;}

.pdr5{ padding-right: 5px;}
.pdr10{padding-right: 10px;}
.pdr20{padding-right: 20px;}
.pdr30{padding-right: 30px;}
.pdr40{padding-right: 40px;}
.pdr50{padding-right: 50px;}

.pdtb10{padding:10px 0;}
.pdtb15{padding:15px 0;}
.pdtb20{padding:20px 0;}
.pdtb30{padding:30px 0;}

.arrowBtn{ position: absolute; width: 100%; top: 40%;z-index: 3;left: 0;}
.arrowBtn .btn{width: 40px; height: 40px; line-height: 40px; text-align: center; border-radius: 50%; background: #b5b5b6; color: #fff; font-size: 30px; cursor: pointer; }

/* 提交按钮 */
.submitbtn .btn{width: 80%; height: 40px; line-height: 40px; text-align: center; color: #fff; background: #c11719; font-size:15px; margin: 0 auto; display:block;}
.submitbtn button:after{border: 0;}
.submitbtn .Wbtn{width: 100%; height: 40px; line-height: 40px; text-align: center; color: #fff; background: #c11719; border-radius: 5px; font-size:15px; margin: 0 auto; display:block;}


/* 行数显示省略号 */
.avoidOverflow{overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
.avoidOverflow2{overflow: hidden;text-overflow: ellipsis;display:-webkit-box;word-break:break-all;-webkit-box-orient:vertical; -webkit-line-clamp:2;}
.avoidOverflow3{ overflow: hidden; text-overflow: ellipsis;  display: -webkit-box;  word-break: break-all; -webkit-box-orient: vertical;-webkit-line-clamp: 3;}
.avoidOverflow4{overflow: hidden;text-overflow: ellipsis;display: -webkit-box; word-break: break-all;-webkit-box-orient: vertical; -webkit-line-clamp: 4; }
.avoidOverflow5{overflow: hidden;text-overflow: ellipsis;display: -webkit-box; word-break: break-all;-webkit-box-orient: vertical; -webkit-line-clamp: 5; }
.avoidOverflow6{overflow: hidden;text-overflow: ellipsis;display: -webkit-box; word-break: break-all;-webkit-box-orient: vertical; -webkit-line-clamp: 6; }
.avoidOverflow7{overflow: hidden;text-overflow: ellipsis;display: -webkit-box; word-break: break-all;-webkit-box-orient: vertical; -webkit-line-clamp: 7; }


/* 弹性盒子 */
.flex{display:flex;align-items:center;}
.flexCenter{display:flex;align-items:center;justify-content:center;}
.flexRowAround{display:flex;flex-direction:row;	justify-content: space-around;align-items:center;}
.flexRowBetween{display:flex;flex-direction:row;justify-content:space-between;align-items:center;}
.flexEnd{ display: flex; justify-content: flex-end; align-items: center;}
.flexColumn{display: flex; flex-direction: column; align-items: center;}


/* 页码 */
.all-pages{ padding:30px 0; text-align:center;}
.all-pages span{ display:inline-block; margin:0 10px; padding:0 5px; height:32px; vertical-align:middle; white-space:nowrap; text-align:center; font-size:15px; line-height:32px; color:#666;  background:#fff;  border-radius: 3px; cursor: pointer;}
.all-pages span .arrow{width: 12px;height: 12px;display: initial;}
.all-pages span:hover{ color:#c11719;}
.all-pages span.on{ color:#c11719; position: relative;}
.all-pages span.on::after{content: ''; width: 15px;height: 2px;background: #C11719;position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);}


@media screen and ( max-width: 1700px){
	.w1660{width:1200px}
	.allH1{width: 1150px;}
	.allH1 h1{font-size: 30px;}
	.allH1 h1 span{font-size: 50px;}
	.moreBtn{width: 130px;height: 45px;line-height: 45px;}
}

@media screen and ( max-width: 1220px){
	.allH1{width: 96%;}
	.w1660,.w1200{width: 98%;box-sizing: border-box;}
}

@media screen and ( max-width: 1100px){
	.w1660,.w1200,.w1100{width: 100%;padding-left: 2%;padding-right: 2%;box-sizing: border-box;}
}

@media screen and ( max-width: 1000px){
	.pdb80{padding-bottom: 35px!important;}
	.pdt40{padding-top: 50px;}
	.pubtit{padding: 40px 0 30px 0;}
	.pubtit .title{font-size: 20px;}
	.pubtit .text{padding-top: 5px;}
	.allH1{width: 96%;}
	.allH1 h1{font-size: 26px;}
	.allH1 h1 span{font-size: 40px;}
	/* .moreBtn{width: 170px;line-height: 60px;height: 60px;} */
}

@media screen and ( max-width: 500px){
	.pubtit{padding: 30px 0 25px 0;}
	.pubtit .title{font-size: 16px;}
	.pubtit .text{padding-top: 0px;font-size: 14px;}
	.pubtit .more{font-size: 12px;}
	.pubtit .icon {width: 25px;height: 25px;margin-right: 10px;}
	
	.all-pages{padding-top: 0;}
	.all-pages a, .all-pages span{padding: 0 5px;line-height: 28px;height: 28px;}
	
	.allH1{padding: 10px 0;}
	.allH1 h1{font-size: 16px;}
	.allH1 h1 span{font-size: 24px;padding-right: 10px;letter-spacing: 3px;}
	.allH1::before{width: 50px;height: 4px;bottom: -4px;}
	.moreBtn{width: 120px;line-height: 40px;height: 40px;font-size: 14px;}
}

