<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>关于华汇</title>
		<script type="text/javascript" src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/include.js"></script>
		<script type="text/javascript" src="js/swiper.min.js"></script>
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<link type="text/css" rel="stylesheet" href="css/detail.css">
		<link type="text/css" rel="stylesheet" href="css/about.css">
		<link type="text/css" rel="stylesheet" href="css/jobPin.css">
		<link type="text/css" rel="stylesheet" href="css/swiper.min.css">
		<link type="text/css" rel="stylesheet" href="css/animate.css">
	</head>
	<style>
		.MedalPic{margin-bottom: 0;}
		.MedalPic .half{width: auto;}
		.MedalPic .TwoPic .box:first-child{margin-bottom: 0;}
		
		.pdt70{padding-top: 70px;}
		.mb70{margin-bottom: 70px;}
		
		.aboutBg{height: 650px;}
		.aboutBg img{width: 100%;height: 650px;position: fixed;top: 0;margin-top: 123px;}
		.bg-white{background-color: #fff;}
		.z-10{z-index: 10;}
		.p-r{position: relative;}
		
		.ArrowIcon span{border-radius: 50%;transition: all 0.5s;}
		.ArrowIcon span:hover{background-color: #383838;}
		
		
		@media only screen and (max-width: 1200px){
			.aboutBg{height: 600px;}
			.aboutBg img{height: 600px;margin-top: 123px;}
		}
		@media only screen and (max-width: 1024px){
			.MedalPic .TwoPic .box{height: 195px;}
		}
		@media only screen and (max-width: 1000px){
			.aboutBg{height: 450px;}
			.aboutBg img{height: 450px;margin-top: 123px;}
		}
		@media only screen and (max-width: 800px){
			.mb70{margin-bottom: 40px;}
			.pdt70{padding-top: 40px;}
			.aboutBg{height: 350px;}
			.aboutBg img{height: 350px;margin-top: 80px;}
		}
		@media only screen and (max-width: 768px){
			.MedalPic .TwoPic .box{height: 145px;}
		}
		@media only screen and (max-width: 600px){
			.aboutBg{height: 300px;}
			.aboutBg img{height: 300px;}
		}
		@media only screen and (max-width: 500px){
			.aboutBg{height: 230px;}
			.aboutBg img{height: 230px;margin-top: 50px;}
			
			.swiper3{height: 250px;}
			.MedalPic .TwoPic .box{height: 250px;width: 100%;}
			
			/* #app{width: 100%;overflow-y: auto;} */
			body{overflow: hidden;overflow-y: auto;}
		}
		@media only screen and (max-width: 420px){
			/* .MedalPic .TwoPic .box{height: 78px;} */
		}
		@media only screen and (max-width: 375px){
			/* .MedalPic .TwoPic .box{height: 68px;} */
		}
	</style>

<body>
	
	
	<div id="app">
		<include src="header.html"></include>
		
		<div class="aboutBg">
			<img src="images/video.png" >
		</div>
		
		<div class="bg-white p-r" >
			<div class="">
				<div class="w1660 pdb80 pdt70 detailBox height1">
					<!-- <div class="pubtit flexCenter">
						<img class="icon" src="images/about-icon.png" >
						<h1 class="title">公司简介</h1>
					</div> -->
					<div class="detailePag animated fadeInLeft"  v-show="height1+headerHeight+(height1*0.3)<offsetTopNow">
						<div class="inforCont pdb20">
							<div class="content ql-editor " style="clear: both;">
								<p class="p1 " v-html="mainData.content"></p> 
								<!-- @touchmove.prevent -->
							</div>
						</div>
					</div>
					<div class="companyPic pr animated fadeInRight"  v-show="height1+headerHeight+(height1*0.3)<offsetTopNow">
						<div>
							<!-- Swiper -->
							<div class="swiper-container swiper11">
							    <ul class="swiper-wrapper">
									<li class="swiper-slide" v-for="item in mainData.mainImg"><img :src="item.url"></li>
							    </ul>
								
								<!--左右箭头 -->
								<div class="ArrowIcon flexRowBetween">
									<span class="swiper-button-prev"><img class="icon" src="images/about-icon6.png" ></span>
									<span  class="swiper-button-next"><img class="icon" src="images/about-icon7.png" ></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="w1660 pdb80 " >
				<!-- <div class="pubtit flexCenter">
					<img class="icon" src="images/about-icon1.png" >
					<h1 class="title">公司获奖</h1>
				</div> -->
				<div class="allH1 mb70">
					<h1><span>公司获奖</span> Awards</h1>
				</div>
				<div class="MedalPic pr oh hj1 animated fadeInUp height2" v-show="height2+headerHeight+(height2*0.3)<offsetTopNow">
					
					<!-- <include src="bannerTwo.html"></include> -->
					<!-- Swiper -->
					<div class="swiper-container2">
						<ul class="half TwoPic swiper-wrapper">
							<li class="box swiper-slide" v-for="item in rewardData">
								<img class="pic" :src="item.mainImg[0].url">
								<p class="text center flexCenter">
									<em>{{item.title}}</em>
								</p>
							</li>
						</ul>
						
						<!-- <div class="ArrowIcon flexRowBetween">
							<span class="btn swiper-button-prev"><img class="icon" src="images/about-icon6.png" ></span>
							<span  class="btn swiper-button-next"><img class="icon" src="images/about-icon7.png" ></span>
						</div> -->
						<div class="ArrowIcon flexRowBetween">
							<span class="btn btnL swiper-button-prev"><img class="icon" src="images/about-icon6.png" ></span>
							<span  class="btn btnR swiper-button-next"><img class="icon" src="images/about-icon7.png" ></span>
						</div>
					</div>
				</div>
				<div class="MedalPic pr oh hj2 animated fadeInUp height2" v-show="height2+headerHeight+(height2*0.3)<offsetTopNow">
					<!-- <include src="bannerTwo.html"></include> -->
					<!-- Swiper -->
					<div class="swiper-container swiper3">
						<ul class="half TwoPic swiper-wrapper">
							<li class="box swiper-slide" v-for="item in rewardData">
								<img class="pic" :src="item.mainImg[0].url">
								<p class="text center flexCenter">
									<em>{{item.title}}</em>
								</p>
							</li>
						</ul>
						
						<div class="ArrowIcon flexRowBetween">
							<span class="btn swiper-button-prev"><img class="icon" src="images/about-icon6.png" ></span>
							<span  class="btn swiper-button-next"><img class="icon" src="images/about-icon7.png" ></span>
						</div>
					</div>
				</div>
				<!-- <div class="MedalPic flexRowBetween">
					<div class="half TwoPic">
						<div class="box flexCenter" v-if="rewardData[0]">
							<img class="pic" :src="rewardData&&rewardData[0]&&rewardData[0].mainImg&&rewardData[0].mainImg[0]?rewardData[0].mainImg[0].url:''" >
							<p class="text center flexCenter">
								<em>{{rewardData&&rewardData[0]?rewardData[0].title:''}}</em>
							</p>
						</div>
						<div class="box flexCenter" v-if="rewardData[1]">
							<img class="pic" :src="rewardData&&rewardData[1]&&rewardData[1].mainImg&&rewardData[1].mainImg[0]?rewardData[1].mainImg[0].url:''" >
							<p class="text center flexCenter">
								<em>{{rewardData&&rewardData[1]?rewardData[1].title:''}}</em>
							</p>
						</div>
					</div>
					<div class="half onePic" v-if="rewardData[2]">
						<div class="box flexCenter">
							<img class="pic" class="" :src="rewardData&&rewardData[2]&&rewardData[2].mainImg&&rewardData[2].mainImg[0]?rewardData[2].mainImg[0].url:''">
							<p class="text center flexCenter">
								<em>{{rewardData&&rewardData[2]?rewardData[2].title:''}}</em>
							</p>
						</div>
					</div>
				</div> -->
			</div>
			<div class="pdb80">
				<div class="w1660">
					<!-- <div class="pubtit flexRowBetween">
						<div></div>
						<div class="flexCenter">
							<img class="icon" src="images/about-icon2.png" >
							<h1 class="title">招聘信息</h1>
						</div>
						<div><a class="flexEnd more" href="recruit.html">更多<img class="arrowR" src="images/home-icon2.png" ></a></div>
					</div> -->
					<div class="allH1 mb70">
						<h1><span>招聘信息</span> Recruit</h1>
					</div>
					<div class="jobPin w1660 height3">
						<ul class="flex animated fadeInUp" v-show="height3+headerHeight+(height3*0.3)<offsetTopNow">
							<!-- <li v-for="(item,index) in recruitData">
								<a :href="'recruitDetail.html?id='+item.id">
									<div class="infor">
										<img class="icon" src="images/about-icon4.png" >
										<h2 class="tit">{{item.title}}</h2>
										<p>{{item.description}}</p>
									</div>
								</a>
							</li> -->
							<li class="f5bj" v-for="(item,index) in recruitData" :key="index">
								<div class="zp">
									<img src="images/about-img.jpg" >
									<div class="txt">
										<div class="tit avoidOverflow">{{item.title}}</div>
										<div class="con avoidOverflow3">{{item.description}}</div>
										<a :href="'recruitDetail.html?id='+item.id" class="more hand">了解更多 ></a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="w1660 pdb80 bto">
				<!-- <div class="pubtit flexCenter">
					<img class="icon" src="images/about-icon5.png" >
					<h1 class="title">人才储备</h1>
				</div> -->
				<div class="jianliMsg boxShaow pdt20 animated fadeInUp height4" v-show="height4+headerHeight+(height4*0.3)<offsetTopNow">
					<div>
						<ul>
							<li>
								<span class="ll">姓名</span>
								<div class="rr">
									<input type="text" name="" v-model="submitData.title" placeholder="请输入姓名" />
								</div>
							</li>
							<li>
								<span class="ll">电话</span>
								<div class="rr">
									<input type="text" name="" v-model="submitData.phone" placeholder="请输入联系电话" onkeyup="this.value=this.value.replace(/\D/g,'')" />
								</div>
							</li>
							<li>
								<span class="ll">自我评价</span>
								<div class="rr">
									<textarea style="padding: 0;" type="text" name="" v-model="submitData.description" placeholder="请写出自身亮点，让HR第一眼关注你"></textarea>
					 			</div>
							</li>
							<li>
								 <span class="ll">投递简历</span>
								<div class="rr flex" style="flex-wrap: wrap;">
									<input class="" type="file" @change="uploadFile" enctype="multipart/form-data">
										<!-- <img src="images/about-icon8.jpg" > -->
									</input>
								</div>
							</li>
						</ul>
					</div>
					<div class="submitbtn pdt40">
						<button class="moreBtn" type="button"  @click="!isSending?JustaddMessage():''">提交</button>
					</div>
				</div>
			</div>
		</div>
		
		<include src="footer.html"></include>
		
	</div>
</body>
<script type="text/javascript">
		
</script>
	
	<script src="js/swiper.min.js"></script>
	<script type="text/javascript">
		// import 'js/swiper.min.js';
		var app = new Vue({
		    el: '#app',
		    data:function(){
		        return {
		        	banner_index:0,
					is_show:false,
					wx_show:2,
					mainData: {},
					labelData: [],
					rewardData:[],
					recruitData:[],
					submitData:{
						title:'',
						phone:'',
						description:'',
						mainImg:[],
						type:1,
						thirdapp_id:2
					},
					isSending:false,
					
					headerHeight:123,
					offsetTopNow:0,
					bannerHeight:650,
					height1:0,
					height2:0,
					height3:0,
					height4:0
					
		        }
		    },
			
			created:function () {
			    var self = this;
				self.getMainData();
				self.getRewardData();
				self.getRecruitData()
				
				var winWidth = document.body.clientWidth;
				self.test(winWidth);
				window.onresize = function(){  
					var winWidth = document.body.clientWidth;
					self.test(winWidth)
				};
				self.handleScroll();
				window.addEventListener('scroll', this.handleScroll);
			},
			
			mounted(){
				
				
			},
			
		    methods: {
				
				//元素到页面顶部高度
				getHeight(){
					const self = this;
					// self.height1 = $(".height1").offset().top;
					// self.height2 = $(".height2").offset().top;
					// self.height3 = $(".height3").offset().top;
					// self.height4 = $(".height4").offset().top;
					self.height1 = self.bannerHeight;
					self.height2 = $(".height1").height() + self.height1;
					self.height3 = $(".height2").height() + self.height2;
					self.height4 = $(".height3").height() + self.height3;
					// console.log(self.height1,self.height2,self.height3,self.height4)
				},
				
				test:function(width){
					const self = this;
					if(width<=800){
						self.headerHeight = 80;
					}else if(width<=500){
						self.headerHeight = 50;
						self.height1 = 200;
					}
					self.getHeight();
					if(width<=500){
						self.height1 = 0;
						self.height2 = 0;
						self.height3 = 0;
						self.height4 = 0;
					}
				},
				
				handleScroll: function(){
					const self = this;
					var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
					var winHeight = window.screen.height;
					var extra = winHeight*0.3;
					if((scrollTop + winHeight - extra)>self.offsetTopNow){
						self.offsetTopNow = scrollTop + winHeight - extra;
					};
				},
				 
				uploadFile(e){
					var self = this;
					var file = e.target.files[0];
					 	
					var param = new FormData();
					param.append('file',file,file.name);
					param.append('thirdapp_id',2);
					//param.append('token',localStorage.getItem('token'));
				
					console.log(self.item)
					var callback = function (res) {
						if(res.solely_code==100000&&res.info&&res.info.url){ 
							self.submitData.mainImg = [];
							self.submitData.mainImg.push({url:res.info.url,type:'file'})
						}
					};
					var res = window.base.upLoadFile(param,callback);
				},
				
				
				getMainData() {
					const self = this;
					const postData = {};
					postData.searchItem = {
						thirdapp_id:2,
						type:6
					};
					postData.getBefore = {
						child:{
							tableName:'Label',
							middleKey:'menu_id',
							key:'id',
							searchItem:{
								status:['in',[1]],
								title:['in',['公司简介']]
							},
							condition:'in',
						}
					};
					const callback = (res) => {
						if (res.info.data.length > 0) {
							self.mainData = res.info.data[0]
							
								setTimeout(function(){
									var swiper = new Swiper('.swiper11', {
									    loop: true,
									    initialSlide:0,
									    slidesPerView: 2,
									    spaceBetween : 20,
										
										pagination: '.swiper-pagination',
										nextButton: '.swiper-button-next',
										prevButton: '.swiper-button-prev',
										
										observer: true,//修改swiper自己或子元素时，自动初始化swiper
										observeParents: true,//修改swiper的父元素时，自动初始化swiper
									})
								},1000)
								setTimeout(function(){
									var swiper = new Swiper('.swiper-container2', {
									    loop: true,
									    initialSlide:0,
									    slidesPerView: 3,
									    spaceBetween : 10,
										speed:3000,
										autoplay:{
											disableOnInteraction: false,
											delay: 3000,
										},
										nextButton: '.btnR',
										prevButton: '.btnL',
										
										observer: true,//修改swiper自己或子元素时，自动初始化swiper
										observeParents: true,//修改swiper的父元素时，自动初始化swiper
									})
								},1000);
								setTimeout(function(){
									var mySwiper = new Swiper('.swiper3', {
									    loop: true,
									    initialSlide:0,
									    slidesPerView: 1,
									    spaceBetween : 10,
										speed:3000,
										autoplay: true,
										autoplay: {
											delay: 1000,
											disableOnInteraction: false
										},
										pagination: '.swiper-pagination',
										nextButton: '.swiper-button-next',
										prevButton: '.swiper-button-prev',
										
										observer: true,//修改swiper自己或子元素时，自动初始化swiper
										observeParents: true,//修改swiper的父元素时，自动初始化swiper
									})
								},1000)
							
								setTimeout(() => {
									swiper.slideTo(0, 50, false);
								}, 50);
					} 
					};
					window.base.articleGet(postData, callback);
				},
				
				getRewardData() {
					const self = this;
					const postData = {};
					postData.searchItem = {
						thirdapp_id:2,
						type:6
					};
					postData.getBefore = {
						child:{
							tableName:'Label',
							middleKey:'menu_id',
							key:'id',
							searchItem:{
								status:['in',[1]],
								title:['in',['公司获奖']]
							},
							condition:'in',
						}
					};
					postData.order = {
						listorder:'asc'
					};
					const callback = (res) => {
						if (res.info.data.length > 0) {
							self.rewardData.push.apply(self.rewardData,res.info.data);
						} else {
							alert('没有数据')
						};	
					};
					window.base.articleGet(postData, callback);
				},
				
				getRecruitData() {
					const self = this;
					const postData = {};
					postData.paginate = {
						count: 0,
						currentPage: 1,
						pagesize: 2,
						is_page: true,
					};
					postData.searchItem = {
						thirdapp_id:2
					};
					postData.getBefore = {
						child:{
							tableName:'Label',
							middleKey:'menu_id',
							key:'id',
							searchItem:{
								status:['in',[1]],
								title:['in',['招聘信息']]
							},
							condition:'in',
						}
					};
					const callback = (res) => {
						if (res.info.data.length > 0) {
							self.recruitData.push.apply(self.recruitData,res.info.data);
						}
					};
					window.base.articleGet(postData, callback);
				},
				
				JustaddMessage() {
					const self = this;
					if(self.isSending){
						return
					};
					const pass = window.base.checkComplete(self.submitData);
					if (pass) {	
						const postData = {};
						postData.data = window.base.cloneForm(self.submitData)
						const callback = (res) => {
							if(res.solely_code==100000){
								self.isSending = false;
								alert(res.msg);
								self.submitData = {
									nama:'',
									phone:'',
									description:'',
									mainImg:[],
									type:1
								}
							}	
						};
						window.base.JustaddMessage(postData, callback);
					} else {
						self.isSending = false;
						alert('请补全信息')
					};
				},
				
		    }
		});
	</script>

</html>