<div id="banner_app"  >
	
	<div class="swiperBox" @touchmove="test" >
		<div id="list" :style="'left:'+ leftOffset + 'px;width:'+totalWidth+'px'" @mouseenter.stop="stop()" @mouseleave.stop="conti()" >
			<div class="box" :style="'width:'+widthStandard+'px'" v-for="(item,index) in mainData" :key="index" >
				<div class="boxItem">
					<img  class="pic":src="item&&item['mainImg'+language]&&item['mainImg'+language][0]&&item['mainImg'+language][0].url"/>
					<p class="text center flexCenter">
						<em>{{item['title'+language]}}</em>
					</p>
				</div>
			</div>
			<!-- :style="'left:'+ (originOffset+leftOffset) + 'px;width:'+totalWidth+'px'" -->
		    <!-- <img :src="item.url" :alt="index" v-for="(item,index) in mainData" :key="index"  :style="'width:'+widthStandard+'px'"/> -->
		</div>
		
		<!-- 导航点 -->
		<!-- <div class="banBtnNav flexCenter">
			<span v-for="(item,index) in bannerData" :class="index==banner_index?'active':''" :data-index="index" @mouseenter="toBannerOne"></span>
		</div> -->
		<!-- 导航图片 -->
		<!-- <div class="banBtnNav flexCenter">
			<div v-for="(item,index) in bannerData" :data-index="index" @mouseenter="toBannerOne">
				<img src="images/index1.png" v-if="index==banner_index">
				<img src="images/index2.png" v-else>
			</div>
		</div> -->
		
	</div>
	
	<!-- 左右按钮 -->
	<!-- <div class="btnBox"> -->
		<div @click="prev()" class="prev">
			<img class="icon" src="images/about-icon6.png" >
		</div>
		<div @click="next()" class="next">
			<img class="icon" src="images/about-icon7.png" >
		</div>
	<!-- </div> -->
	
</div>


<script type="text/javascript">
	var banner_app = new Vue({
	    el: '#banner_app',
	    data:function(){
	        return {
	        	banner_index:0,
	        	is_toggle:false,
				shownav:true,
				is_show:false,
				// mainData:[
				// 	{url:'images/5.jpg'},
				// 	{url:'images/1.jpg'},
				// 	{url:'images/2.jpg'},
				// 	{url:'images/3.jpg'},
				// 	{url:'images/4.jpg'},
				// 	{url:'images/5.jpg'},
				// 	{url:'images/1.jpg'},
				// ],
				mainData:[],
				searchItem:{
					thirdapp_id:window.base.thirdapp_id,
					title:'首页轮播图'
				},
				bannerTimer:null,
				index:1,
				widthStandard:1200,
				timer:'',
				leftOffset:0,
				totalWidth:0,
				clock:false,
				cents:200,
				perTime:1000,//轮播速度
				nowCents:0,
				nowIndex:0,
				toIndex:0,
				gapLenth:0,
				isAutoPlay:true,//是否自动轮播
				autoPlayInterval:5000,//自动轮播间隔,
				timeOutEvent:'',
				originOffset:0,
				offSetStandard:0,
				id:0,
				extraNum:2,
				startCriticalIndex:0,//左滑触发移位的index
				endCriticalIndex:2,//向右滑发生亿为的index的递减量相当于总体的index-这个值
				screenWidth:0,
				
				language:''
	        }
	    },
	    created:function () {
	        var self = this;
			self.screenWidth = document.body.clientWidth;
			self.changeWidth();
			// console.log('self.widthStandard',self.widthStandard)
			
			// console.log('屏幕',self.widthStandard)
			self.totalWidth = self.widthStandard*self.mainData.length;
	        var currentUrl = window.base.GetUrlRelativePath();
			
			var reg = /\/([^\/]+)\.html/i;
			if(reg.exec(currentUrl)&&reg.exec(currentUrl)[0]){
				self.currentUrl = reg.exec(currentUrl)[0];
			}else{
				self.currentUrl = '/index.html';
			};
			
			// if(self.currentUrl=='/brand.html'){
			// 	self.searchItem.title = '品牌轮播图'
			// };

    		/* window.base.bus.$on('to_headBanner',(res)=>{	
				if(res.mainImg){
					 self.bannerData = res.mainImg
					 return
				};
				console.log('res222',res)
				this.searchItem.title = res.title;
				
	        	this.to_headBanner()
		    }); */
			self.getMainData()
			
			self.initLanguage1();
			window.base.bus.$on('changelanguage',function(res){
				console.log('res',res)
				self.language = res;
				self.initLanguage1()
			});
	    },
		
		mounted() {
			const self = this;
			window.onresize = () => {
				if(self.screenWidth != document.body.clientWidth){
					self.screenWidth = document.body.clientWidth;
					self.changeWidth();
				}
				// console.log(self.screenWidth)
			};
		},
		
		watch:{
			// 当a的值发生改变时触发
			a:function(val,oldVal){
			    console.log('new:%s,old:%s',val,oldVal)
			}
		},
		
		destroyed() {
			const self = this;
			clearInterval(this.timer);        
			self.bannerTimer = null;
		},
	    methods: {
			
			initLanguage1(){
				const self = this;
				var lang = localStorage.getItem('language');
				if(lang){
					self.language = lang;
				}else{
					self.language = '';
				}
			},
			
			changeWidth(){
				const self = this;
				self.leftOffset = 0;
				if(self.screenWidth>=1660){
					self.widthStandard = 1660/3;
				}else if(self.screenWidth>=1220&&self.screenWidth<1660){
					self.widthStandard = 1200/3;
				}else if(self.screenWidth>=800 && self.screenWidth<1220){
					self.widthStandard = (self.screenWidth-self.screenWidth*0.02)/3;
				}else if(self.screenWidth>500 && self.screenWidth<800){
					self.widthStandard = (self.screenWidth-self.screenWidth*0.02)/2;
					self.extraNum = 1;
					self.endCriticalIndex = 1;
				}else{
					self.widthStandard = self.screenWidth-self.screenWidth*0.04;
				};
			},
			
			test(e){
				console.log(e)
			},
			
			stop(){
				const self = this;
				console.log('stopbefore',self.clock);
				if(self.isAutoPlay){
					console.log('stop');
					self.clock = true;
					self.pause = true;
				};
			},
			
			conti(){
				const self = this;
				// console.log('contibefore',self.clock);
				if(self.clock&&self.isAutoPlay){
					// console.log('continowIndex',self.nowIndex);
					self.pause = false;
					self.clock = false;
					self.animate()
				};
				
			},
			
			animate: function () {
				const self = this;
				if(self.clock){
					return;
				}else{
					self.clock = true;
				};
	
				
				if(self.nowCents>=self.cents){
					self.nowCents = 0;
				};
				// console.log('self.toIndex',self.toIndex)
				//self.pause = false;
				var nowLeftOffset = -self.widthStandard*self.nowIndex;
				var targetLeft = -self.widthStandard*self.toIndex;
				var oneCentLeft = parseFloat(((targetLeft-nowLeftOffset)/self.cents).toFixed(2));
				var go = function (){
					
					if(self.pause){
						return;
					};
					self.nowCents++;
					self.leftOffset = parseFloat((self.leftOffset + oneCentLeft).toFixed(2));
					
					if(self.nowCents<self.cents&&oneCentLeft!=0){
						setTimeout(go, self.perTime/self.cents);
					}else{
						
						if(self.toIndex!=self.nowIndex){
							
							if(self.toIndex==self.startCriticalIndex){
								self.nowIndex = self.toIndex+ self.mainData.length-2*self.extraNum;
								self.toIndex = self.nowIndex;
								self.leftOffset = -self.widthStandard*self.nowIndex;
							}else if(self.toIndex==(self.mainData.length-self.endCriticalIndex-1)){
								self.nowIndex = self.toIndex - self.mainData.length + 2*self.extraNum;
								self.toIndex = self.nowIndex;
								self.leftOffset = -self.widthStandard*self.nowIndex;
							}else{
								self.nowIndex = self.toIndex;
							};
							
							
							
							self.title = self.mainData[self.nowIndex].title;
							self.content = self.mainData[self.nowIndex].description;
							self.behavior = self.mainData[self.nowIndex].behavior;
							self.id = self.mainData[self.nowIndex].id;
						};
						self.clock = false;
						self.clickClock = false;
						// console.log('self.autoPlayInterval',self.autoPlayInterval)
						if(self.isAutoPlay){
							if(self.timeOutEvent){
								clearTimeout(self.timeOutEvent);
							};
							self.timeOutEvent = setTimeout(function(){
								self.next();
							},self.autoPlayInterval);
						};
						return;
						
					};
				};
			    go();
			},
			
			next:function(){
				const self = this;
				
				if(self.clock&&self.pause){
					return;
				};
				if(self.clickClock){
					return;
				}else{
					self.clickClock = true;
				};
				self.toIndex = self.nowIndex +1;
				// console.log('self.toIndexnext',self.toIndex)
				self.animate();
				
			},
			prev:function(){
				const self = this;
				console.log('prev')
				if(self.clock&&self.pause){
					return;
				};
				if(self.clickClock){
					return;
				}else{
					self.clickClock = true;
				};
				self.toIndex = self.nowIndex - 1;
				// console.log('self.toIndexself.toIndex',self.toIndex)
				self.animate();
			},
			
			
			getMainData: function(id){
			    var self = this;
			    var postData = {};
				postData.searchItem = {
					thirdapp_id:2,
					type:6
				};
				postData.getBefore = {
					child:{
						tableName:'Label',
						middleKey:'menu_id',
						key:'id',
						searchItem:{
							status:['in',[1]],
							title:['in',['公司获奖']]
						},
						condition:'in',
					}
				};
				postData.order = {
					listorder:'asc'
				};
			    var callback = function(res){
			        if(res.info.data.length>0&&res.info.data[0]){
						self.initialMainData(res.info.data);
						// console.log('宽度',self.totalWidth)
						 //console.log('self.mainData',self.mainData)
						// console.log('self.bannerData',self.bannerData)
			        };  
			    };
			    window.base.articleGet(postData, callback);
			},
			
			
			initialMainData(data){
				const self = this;
				self.mainData = window.base.cloneForm(data);
				for(var i=0;i<self.extraNum;i++){
					self.mainData.unshift(data[data.length-1-i]);
					self.mainData.push(data[i]);
				};
				self.totalWidth = self.widthStandard*self.mainData.length;
				self.nowIndex = self.extraNum;
				self.toIndex = self.extraNum;
				self.leftOffset = -self.widthStandard*self.nowIndex;
				self.id = self.mainData[0].id;
				console.log('self.mainData',self.mainData);
				console.log('self.leftOffset',self.leftOffset);
				if(self.isAutoPlay){
					setTimeout(function(){
						console.log('next')
						self.next();
					},self.autoPlayInterval)
				};
			},
			
			toBannerOne:function(e){
				const self = this;
				// console.log('e',e)
				var index = parseInt(e.target.dataset.index);
				self.banner_index = index;
			},
	        
			// 自动轮播
	    	changeBanner: function(type) {
	    		var self = this;
	    		if(type=='+'){
	    			self.banner_index += 1;
	    		}else if((type=='-')){
	    			self.banner_index -= 1;
	    		};
	    		
	    		if(self.banner_index<0){
	    			self.banner_index = self.mainData.length-1
	    		};
	    		if(self.banner_index==self.mainData.length){
	    			self.banner_index = 0
	    		};	
				// self.title = self.mainData[self.banner_index].title;
				// self.content = self.mainData[self.banner_index].description;
	    		// console.log('self.banner_index',self.banner_index);
	    	},
			// 
			// intoPath:function(url,id){
			//     var self = this;
			//     var toUrl = url;
			//     console.log(toUrl);
			//     window.location.href= toUrl+'?id='+id;
			// }
	    }
	});
</script>

<style>
	/* 几个错误，首先是宽度设置不对外层宽度设置不得当。
	其次是不要给轮播盒子添加任何的padding或者border因此改变期宽度
	最后是注意按钮的悬浮不要面积太大*/
/*网站banner*/
#banner_app{position: relative;width: 100%;height: 340px;overflow: hidden;}

.swiperBox{  position: relative; width: 100%; height:100%; overflow: hidden;}
/* .swiperBox .banner{ width: 100%; height: 100%;opacity: 0;}
.swiperBox .banner a{width: 100%;height: 100%;}
.swiperBox .banner img{width:auto; height: 100%; display: block;position: relative;left: 50%;transform: translateX(-50%);} */
#list { height: 100%; position: absolute; z-index: 1;overflow: hidden;}
#list .box{height: 100%;float: left;position: relative;}
#list .boxItem{position: relative;height: 100%;padding: 0 5px;}
#list .pic{width: 100%;height: 100%;}
#list .text{position: absolute;top: 0;left: 5px;right: 5px;bottom: 0;background-image: linear-gradient(to bottom,rgba(0,0,0,0) 30%,rgba(0,0,0,0.7));}
#list .text em{position: absolute;bottom: 0;text-align: center;color: #fff;padding: 20px;}

#banner_app .prev,#banner_app .next{position: absolute;top:45%;z-index:50;cursor: pointer; border-radius: 4px;}
#banner_app .prev{left:30px;transition: all 0.3s;border-radius: 50%;}
#banner_app .next{right:30px;transition: all 0.3s;border-radius: 50%;}
#banner_app img{width: 40px;}
#banner_app .prev:hover,#banner_app .next:hover{background-color: rgba(56,56,56,0.5);}

.banBtnNav{ width: 100%; text-align: center; position: absolute; bottom:4%; left: 0;z-index: 9;}
.banBtnNav span{ margin: 0 5px; /* background:#fff; */ width: 10px; height: 10px;box-shadow: 0 0 3px rgba(0,0,0,0.1);border-radius: 10px;border: 1px solid #a5a5a5;}
.banBtnNav span.active{ background: #a5a5a5;}
.banBtnNav div{padding: 0 10px;}

.listCon h1{font-size: 30px;padding: 50px 0 30px;}
.listCon p, .listCon div{font-size: 14px;min-height: 115px;margin-bottom: 55px;}
.listCon a{color: #fff;margin-top: 20px;}
/* banner 各种屏幕自适应 */

@media only screen and (max-width: 1920px){
	.swiperBox .banner img{width:100%;}
	/* .swiperBox{height: 800px;} */
}
@media only screen and (max-width: 1600px){#banner_app{height: 320px;}}
@media only screen and (max-width: 1440px){#banner_app{height: 300px;}}
@media only screen and (max-width: 1366px){#banner_app{height: 290px;}}
@media only screen and (max-width: 1280px){#banner_app{height: 280px;}}
@media only screen and (max-width: 1100px){#banner_app{height: 275px;}}
@media only screen and (max-width: 1024px){#banner_app{height: 230px;}}

/* 平板 */
@media only screen and (max-width: 800px){
	#banner_app{display: block;height: 100%;}
	#banner_app{height:280px;}
}
@media only screen and (max-width: 800px){
	#banner_app{height:230px;}
}
@media only screen and (max-width: 500px){
	#banner_app{ height:280px;}
	.banBtnNav img{width: 12px;}
	.banBtnNav div{padding: 0 5px;}
	
	#banner_app .prev,#banner_app .next{top: 40%;}
	#banner_app img{width: 30px;}
	#banner_app .prev{left:20px;}
	#banner_app .next{right:20px;}
}
@media only screen and (max-width: 414px){#banner_app{height: 230px;}}
/* @media only screen and (max-width: 375px){#banner_app{height: 166px;}} */
/* @media only screen and (max-width: 320px){#banner_app{height: 146px;}} */

</style>
