<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>品牌中心</title>
		<script type="text/javascript" src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/include.js"></script>
		<script type="text/javascript" src="js/swiper.min.js"></script>\
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<link type="text/css" rel="stylesheet" href="css/swiper.min.css">
		<link type="text/css" rel="stylesheet" href="css/brand.css">
		
	</head>
<body>
	<div id="app">
		<include src="header.html"></include>
		<!-- <include src="banner.html"></include> -->
		
		<div class="itemBox flexCenter">
			<div class="brandItem" @mouseenter="enter(i)" @mouseleave="leave(i)" :class="i==index?'on':''" v-for="(item,i) in mainData" :key="i">
				<a :href="'product.html?id='+item.id+'&behavior='+item.behavior">
					<img :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" >
				</a>
			</div>
		</div>
		<div class="brandNav flex">
			<!-- <div class="brandNavPic" v-for="(item,i) in mainData" :key="i" @mouseenter="active(i)" @mouseleave="noActive(i)">
				<img class="w" :src="item.bannerImg[0].url" >
			</div> -->
			<div class="brandNavPic brandNavPic1"
			@mouseenter="active(index)" @mouseleave="noActive(index)" v-for="(item,index) in mainData" :key="index"
			:style="{backgroundImage:'url('+ item.bannerImg[0].url +')'}">
				<!-- <img class="w" :src="mainData[index]&&mainData[index].headImg&&mainData[index].headImg[0]?mainData[index].headImg[0].url:''" > -->
				<div class="navMask flexCenter">
					<div class="b-w flexCenter">
						<div class="b-wCon">
							<h1 class="avoidOverflow">{{item.title}}</h1>
							<p class="avoidOverflow3">{{item.description}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="brandNavM">
			<!-- <div class="brandNavPic" v-for="(item,i) in mainData" :key="i" @mouseenter="active(i)" @mouseleave="noActive(i)">
				<img class="w" :src="item.bannerImg[0].url" >
			</div> -->
			<div class="brandNavPic"
			 v-for="(item,index) in mainData" :key="index" @click="goDetail(item,index)">
					<img class="w" :src="mainData[index]&&mainData[index].headImg&&mainData[index].headImg[0]?mainData[index].headImg[0].url:''" >
					<div class="navMask flexCenter">
						<div class="b-w flexCenter">
							<div class="b-wCon">
								<h1 class="avoidOverflow">{{item.title}}</h1>
								<p class="avoidOverflow3">{{item.description}}</p>
							</div>
						</div>
					</div>
			</div>
		</div>
		
		
		
		<!-- <div class="w90 pdb80">
			<div class="brandNav center pr">
				轮播效果
				<div class="cont clearfix color6 brandItemBox">
					<div class="itemBox">
						<div class="brandItem child" @mouseenter="enter(i)" @mouseleave="leave(i)"  v-for="(item,i) in mainData" :key="i" :class="i==index?'brandItem-active':''">
							<a :href="'product.html?id='+item.id+'&behavior='+item.behavior">
								<img :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" >
							</a>
						</div>
					</div>
				</div>
				左右按钮
				<div class="arrow prev" @click="btn(-1)"><img src="images/icon-left.png" ></div>
				<div class="arrow next" @click="btn(1)"><img src="images/icon-right.png" ></div>
			</div>
			<div class="brandNavPic">
				<img class="w" :src="mainData[index]&&mainData[index].bannerImg&&mainData[index].bannerImg[0]?mainData[index].bannerImg[0].url:''" >
			</div>
		</div> -->
		
		
		<!-- <div class="pdlr2 pdb80">
			<div class="ind-brand pdt30">
				<div class="item oh">
					<div class="half TwoPic" v-for="(item,index) in mainData" :key="index">
						<a :href="'product.html?id='+item.id">
							<div class="box flexCenter">
								<img class="logo" :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" >
								<p class="text center flexCenter"><em>
									{{item.description}}
								</em></p>
							</div>
						</a>
					</div>
				</div>
			</div>
			
			<div class="all-pages">
				<span class="no-prev flexCenter" data-type="back" @click="changePage"><img class="arrow" src="images/case-icon5.png"></span>
				<span v-for="item in pageArray" :class="item == paginate.currentPage?'on':''" @click="linkTo(item)">{{item}}</span>
				<span class="next flexCenter" data-type="next" @click="changePage"><img class="arrow" src="images/case-icon4.png"></span>
			</div>
		</div> -->
		
		<include src="footer.html"></include>
		
	</div>
</body>

	<script type="text/javascript">
		var app = new Vue({
		    el: '#app',
		    data:function(){
		        return {
		        	banner_index:0,
					is_show:false,
					wx_show:2,
					mainData: [],
					labelData: [],
					linkPage: [],
					pageArray: [],
					brandData:5,
					index:0,
					allPages: 0,
					paginate:{
						count: 0,
						currentPage: 1,
						pagesize:6,
						is_page: true,
					},
					bannerTimer:null,
					go:-1,
					href:''
		        }
		    },
			
			created () {
			    const self = this;
				self.getMainData();
			},
			
		    methods: {
				
				goDetail(item,index){
					const self = this;
					if(index == self.go){
						window.location.href = 'product.html?id='+item.id+'&behavior='+item.behavior;
					}
					self.go = index;
				},
				
				autoBanner(){
					const self = this;
					self.bannerTimer = setInterval(function(){
						self.changeBanner('+');
					},3000)
				},
				
				//自动轮播
				changeBanner: function(type) {
					var self = this;
					if(type=='+'){
						self.index += 1;
					}else if((type=='-')){
						self.index -= 1;
					};
					
					if(self.index<0){
						self.index = self.mainData.length-1
					};
					if(self.index==self.mainData.length){
						self.index = 0
					};
					
					for(var i=0; i<self.mainData.length; i++){
						if(i == self.index){
							$('.brandNavPic1 .navMask').eq(i).css({opacity:'1'});
						}else{
							$('.brandNavPic1 .navMask').eq(i).css({opacity:'0'});
						}
					}
					$('.brandNavPic1').eq(self.index).css({width:'65%'}).siblings().css({width:'8.33%'});
				},
					
					active(index){
						const self = this;
						self.index = index;
						clearInterval(self.bannerTimer);
						for(var i=0; i<self.mainData.length; i++){
							if(i == index){
								$('.brandNavPic1 .navMask').eq(i).css({opacity:'1'});
							}else{
								$('.brandNavPic1 .navMask').eq(i).css({opacity:'0'});
							}
						}
						$('.brandNavPic1').eq(index).css({width:'65%'}).siblings().css({width:'8.33%'});
					},
					
					noActive(i){
						const self = this;
						self.autoBanner();
						for(var i=0; i<self.mainData.length; i++){
							$('.brandNavPic1').eq(i).css({width:'16.66%'});
							$('.brandNavPic1 .navMask').eq(i).css({opacity:'0'});
						}
					},
				
					
					// btn(i){
					// 	const self = this;
					// 	if(self.index+i < 0 || self.index+i > self.mainData.length-1) return;
					// 	self.index = self.index+i;
					// 	console.log(self.index)
					// 	if(self.index >= 5 && i == 1){
					// 		for(var i=0;i<=self.mainData.length-1;i++){
					// 			if(i <= self.index-5){$('.itemBox .brandItem').eq(i).css({display:'none'})}
					// 		}
					// 	}else if(self.index <= self.mainData.length-5 && i == -1){
					// 		for(var i=0;i<=self.mainData.length-1;i++){
					// 			if(i >= self.index){$('.itemBox .brandItem').eq(i).css({display:'block'})}
					// 		}
					// 	}
					// },
				
				enter(index){
					const self = this;
					clearInterval(self.bannerTimer);
					if(self.index!=index){
						self.index = index;
					}
					self.active(index);
				},
				
				leave(index){
					const self = this;
					self.index = index;
					self.noActive(index);
				},
				
				getMainData() {
					const self = this;
					const postData = {};
					//postData.paginate = window.base.cloneForm(self.paginate);
					postData.searchItem = {
						parentid:0,
						type:5
					};
					
					postData.order = {
						listorder:'asc'
					};
					
					const callback = (res) => {
						if (res.info.data.length > 0) {
							self.mainData.push.apply(self.mainData,res.info.data);
							self.paginate['count'] = res.info.total;
							window.base.computePageArr(self);
							
							self.autoBanner();
						} else {
							alert('没有数据')
						};	
					};
					window.base.labelGet(postData, callback);
					
				},
				
				
				
				linkTo(item) {
					var self = this;
					// console.log(item);
					self.linkPage = item;
					window.base.linkTo(self);
					// console.log(self.pageArray)
				},
				
				changePage(e) {
					var self = this;
					var dataSet = window.base.getDataSet(e);
					window.base.changePage(dataSet, self);
				},
				
		    }
		});
	</script>
</html>