<div id="head_app">

	<div class="zhHead"></div>
	
	<div class="head">
		
		<div class="cont flexRowBetween w1660">
			<div class="mobile-Btn" @click="shownav">
				<img src="images/icon-01.png" >
			</div>
			
			<div class="T-Logo"><a href="index.html"><img src="images/home-img1.png" ></a></div>
			
			<div class="searchM">
				<a href="seach.html"><img class="icon" style="height: 22px;" src="images/icon-02.png" ></a>
			</div>
			
			<div style="height: 100%;" class="searchPC">
				<div class="Rseach">
					<input type="text" v-on:keydown.enter="goSearch" v-model="title" placeholder="请输入你要搜索的内容" />
					<a href="seach.html"><img class="icon" src="images/home-icon0.png" ></a>
				</div>
				<div class="orderNavTwo pc flexRowBetween fs16" >
					<div class="tt" :class="currentUrl=='/index.html'?'on':''"><a href="index.html">首页</a></div>
					<div class="tt" :class="currentUrl=='/aboutUs.html'?'on':''"><a href="aboutUs.html">关于华汇</a></div>
					<div class="tt pr" :class="currentUrl=='/anliCenter.html'||(menu_id!=5&&menu_id!=0)?'on':''">
						<a href="anliCenter.html">经典案例</a>
						<div class="Asamll alAsamll">
							<div class="Achild" v-for="(item,index) in labelData" :key="item.id">
								<div class="Aname">
									<a class="link" :href="'anliCenter.html?menu_id='+item.id">{{item.title}}</a>
								</div>
							</div>
						</div>
					</div>
					<div class="tt pr"  :class="currentUrl=='/brand.html'?'on':''">
						<a href="brand.html">品牌中心</a>
						<!-- <div class="ppA"> -->
							<div class="Asamll ppAsamll">
								<div class="Achild" v-for="(item,index) in brandData" :key="item.id">
									<div class="Aname">
										<a class="link" :href="'product.html?id='+item.id+'&behavior='+item.behavior">{{item.title}}
											<em class="pdl5" v-if="item.child&&item.child.length>0">&gt;</em>
										</a>
									</div>
									<div class="bBox">
										<div class="Bsamll">
											<a v-for="(c_item,c_index) in item.child" :href="'product.html?id='+item.id+'&childId='+c_item.id+'&behavior='+item.behavior" :key="c_item.id" class="Bchild" 
											>{{c_item.title}}</a>
										</div>
									</div>
								</div>
							</div>
						<!-- </div> -->
					</div>
					<div class="tt" :class="currentUrl=='/newsCenter.html'||menu_id==5?'on':''"><a href="newsCenter.html">公司动态</a></div>
					<div class="tt" :class="currentUrl=='/loadCenter.html'?'on':''"><a href="loadCenter.html">下载中心</a></div>
					<div class="tt" :class="currentUrl=='/contactUs.html'?'on':''"><a href="contactUs.html">联系我们</a></div>
				</div>
				
			</div>
		</div>
	
		<!-- 移动端显示导航 -->
		<div class="mNav animated fadeInLeft" v-show="is_showNav">
			<img class="close" src="images/icon-09.png" @click="shownav" >
			<a href="seach.html" class="Mseach">
				<img src="images/input.png" class="input">
				<input type="text" name="" id="" value="" placeholder="搜索..." />
				<img class="icon" src="images/icon-02.png" >
			</a>
			
			<div class="orderNavTwo mobile flexRowBetween fs16">
				<div class="tt" :class="currentUrl=='/index.html'?'on':''">
					<a href="index.html">首页</a>
					<div class="off">
						<img src="images/icon-08.png">
					</div>
				</div>
				<div class="tt" :class="currentUrl=='/aboutUs.html'?'on':''"><a href="aboutUs.html">关于华汇</a>
					<div class="off">
						<img src="images/icon-08.png">
					</div>
				</div>
				<div class="tt" :class="currentUrl=='/anliCenter.html'||(menu_id!=5&&menu_id!=0)?'on':''">
					<a href="anliCenter.html">经典案例</a>
					<div class="off" v-show="show1" @click="showOff('one')">
						<img src="images/icon-08.png">
					</div>
					<div class="onn" v-show="!show1" @click="showOff('one')">
						<img src="images/icon-07.png" >
					</div>
					
					<div class="Asamll AnliLabel" v-show="!show1">
						<div class="Achild" v-for="(item,index) in labelData" :key="item.id">
							<div class="Aname">
								<a class="link" :href="'anliCenter.html?menu_id='+item.id">{{item.title}}</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tt pr"  :class="currentUrl=='/brand.html'?'on':''">
					<a href="brand.html">品牌中心</a>
					<div class="off" v-show="show2" @click="showOff('two')">
						<img src="images/icon-08.png">
					</div>
					<div class="onn" v-show="!show2" @click="showOff('two')">
						<img src="images/icon-07.png" >
					</div>
					<div class="Asamll centerLabel" v-show="!show2">
						<div class="Achild" v-for="(item,index) in brandData" :key="item.id">
							<div class="Aname">
								<a class="link" :href="'product.html?id='+item.id+'&behavior='+item.behavior">{{item.title}}
									<!-- <em class="pdl5" v-if="item.child&&item.child.length>0">&gt;</em> -->
								</a>
							</div>
							<!-- <div class="off" v-show="show" @click="showOff(two)">
								<img src="images/icon-08.png">
							</div>
							<div class="onn" v-show="!show" @click="showOff(two)">
								<img src="images/icon-07.png" >
							</div> -->
							<div class="Bsamll">
								<a v-for="(c_item,c_index) in item.child" :href="'product.html?id='+item.id+'&childId='+c_item.id+'&behavior='+item.behavior" :key="c_item.id" class="Bchild" 
								>{{c_item.title}}</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tt" :class="currentUrl=='/newsCenter.html'?'on':''||menu_id==5"><a href="newsCenter.html">公司动态</a>
					<div class="off">
						<img src="images/icon-08.png">
					</div>
				</div>
				
				<div class="tt" :class="currentUrl=='/loadCenter.html'?'on':''"><a href="loadCenter.html">下载中心</a>
					<div class="off">
						<img src="images/icon-08.png">
					</div>
				</div>
				<div class="tt" :class="currentUrl=='/contactUs.html'?'on':''"><a href="contactUs.html">联系我们</a>
					<div class="off">
						<img src="images/icon-08.png">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="black-bj2" v-show="is_show"  @click="shownav"></div> -->
	<!-- <div class="headH"></div> -->
	
</div>


<script type="text/javascript">
	var head_app = new Vue({
	    el: '#head_app',
	    data:function(){
	        return {
	        	banner_index:0,
	        	is_toggle:false,
				currentUrl:'',
				is_show:false,
				searchItem:{
					thirdapp_id:window.base.thirdapp_id,
					title:''
				},
				bannerTimer:null,
				is_showNav:false,
				brandData:[],
				labelData:[],
				menu_id:0,
				show1:true,
				show2:true,
				title:''
	        }
	    },
	    created:function () {
			var self = this;
			self.getBrandData();
			self.getLabelData();
			self.is_showNav = false;
			// if(window.screen.width<1000){
			// 	// self.is_showNav = true;
			// 	// self.is_show = false
			// 	// $(".orderNavTwo").css('display','none');
			// 	// $(".black-bj2").css('display','none');
			// }else{
			// 	// self.is_showNav = false;
			// 	// self.is_show = true
				
			// };
	        var currentUrl = window.base.GetUrlRelativePath();
		
			var reg = /\/([^\/]+)\.html/i;
			if(reg.exec(currentUrl)&&reg.exec(currentUrl)[0]){
				self.currentUrl = reg.exec(currentUrl)[0];
			}else{
				self.currentUrl = '/index.html';
			};
			

    		window.base.bus.$on('to_headBanner',(res)=>{	
				if(res){
					 self.menu_id = res
				};
				
		    });
			
			/* self.bannerTimer = setInterval(function(){
				self.changeBanner('+');
			},3000) */
	    },
		
		
		destroyed() {
			const self = this;
			clearInterval(this.timer);        
			self.bannerTimer = null;
		},
	    methods: {
			
			goSearch() {
				const self = this;
				window.location.href = 'seach.html?title='+self.title
			},
			
			showOff(type){
				const self = this;
				if(type=='one'){
					self.show1 = !self.show1;
					// if(self.show1){
					// 	$('.AnliLabel').css({
					// 		height:'0',
					// 		display:'none'
					// 	});
					// }else{
					// 	$('.AnliLabel').css({
					// 		height:'auto',
					// 		display:'block'
					// 	});
					// }
				}
				if(type=='two'){
					self.show2 = !self.show2;
					// if(self.show2){
					// 	$('.centerLabel').css({
					// 		height:'0',
					// 		display:'none'
					// 	});
					// }else{
					// 	$('.centerLabel').css({
					// 		height:'auto',
					// 		display:'block'
					// 	});
					// }
				}
			},
				
			shownav(){
				const self = this;
				// if($(".orderNavTwo.mobile").css('display')=='none'){
				// 	$(".orderNavTwo.mobile").show()
				// 	$(".black-bj2").show()
				// }else{
				// 	$(".orderNavTwo.mobile").hide()
				// 	$(".black-bj2").hide()
				// }
				self.is_showNav = !self.is_showNav;
				self.is_show = !self.is_show;
				if(self.is_showNav){
					window.base.bus.$emit('to_index',true);
				}
				if(!self.is_showNav){
					window.base.bus.$emit('to_index',false);
				}
			},
			
			getBrandData() {
				const self = this;
				const postData = {};
				
				postData.searchItem = {
					parentid:0,
					type:5
				};
				postData.order = {
					listorder:'asc'
				};
				postData.getAfter = {
					child:{
						tableName:'Label',
						middleKey:'id',
						key:'parentid',
						searchItem:{
							status:1
						},
						condition:'=',
						order:{
							listorder:'asc'
						}
					}
				};
				const callback = (res) => {
					if (res.info.data.length > 0) {
						self.brandData.push.apply(self.brandData,res.info.data);
					} 
				};
				window.base.labelGet(postData, callback);
			},
			
			getLabelData() {
				const self = this;
				const postData = {};
				postData.searchItem = {
					thirdapp_id: 2
				};
				postData.getBefore = {
					caseData: {
						tableName: 'Label',
						searchItem: {
							title: ['in', ['案例中心']],
						},
						middleKey: 'parentid',
						key: 'id',
						condition: 'in',
					},
				};
				postData.order = {
					listorder:'asc'
				};
				const callback = (res) => {
					if (res.info.data.length > 0) {
						self.labelData.push.apply(self.labelData,res.info.data);
					}
				};
				window.base.labelGet(postData, callback);
			}
			
	    }
	});
</script>

<style>
/* 二级导航 */
.Asamll{width: 230px;position: absolute;left: 0;/* top:0; *//* transform: translateX(-50%); */background:#fff;color: rgba(34,34,34,0);text-align: left; /* display: none; */box-shadow: 0px 0px 15px rgba(0,0,0,0.1);height: 0;transition: all 0.2s;letter-spacing: 1px;opacity: 0;/* overflow: hidden; */}
/* .ppAsamll{top: 10px;left: 10px;} */
.ppA{width: 230px;position: absolute;overflow: hidden;height: 0;left: -10px;}
/* .AnliLabel{left: 45.4%;} */
.Asamll .Achild{line-height: 45px;height: 0px;position: absolute;width: 100%;position: relative;font-size: 14px;box-sizing: border-box;border-bottom: 1px solid #f5f5f5;opacity: 0;z-index: 5;}
.Aname{padding: 0 15px;box-sizing: border-box;height: 0;}
.Aname>.link{ color: #222;width: 100%; display: block;width: 100%;}
.Asamll .Achild:hover,.Bsamll .Bchild:hover{background: #F5F5F5;}
/* .Asamll .Achild .Aname:hover .link{color: #fff;} */
.Asamll .Achild .Aname em{font-size: 13px;}
.head:hover{overflow: initial;}

.Bsamll{/* position: absolute;left: 100%;top: -100%; */width: 230px;background: #fff;/* display:none; */box-shadow: 0px 0px 5px rgba(0,0,0,0.15);transition: all 0.15s;/* opacity: 0; */}
.Bsamll .Bchild{display: block;font-size: 14px;padding: 0 15px;box-sizing: border-box;color: #222;border-bottom: 1px solid #f5f5f5;}
.Bsamll .Bchild:last-child{border-bottom: 0;}

.bBox{height: 0;overflow: hidden;position: absolute;left: 225px;transition: all 0.3s;top: -10px;width: 240px;}

.orderNavTwo .tt:hover .alAsamll{height: 270px;opacity: 1;color: rgba(34,34,34,1);}
.orderNavTwo .tt:hover .ppAsamll{height: 315px;opacity: 1;color: rgba(34,34,34,1);}
/* .orderNavTwo .tt:hover .Aname{} */
.orderNavTwo .ppA:hover{overflow: initial;}
/* .orderNavTwo .tt:hover .Asamll{top: 100%;opacity: 1;overflow: initial;} */
/* .orderNavTwo .tt:hover .ppA{height: 450px;width: 480px;} */
.orderNavTwo .tt:hover .Achild{opacity: 1;height: 45px;}
.orderNavTwo .tt:hover .Aname{height: 45px;}
/* .Asamll .Achild:hover .Bsamll{opacity: 1;top: 0;} */
.Asamll .Achild:hover .bBox{height: 325px;padding-top: 10px;padding-left: 5px;}

.black-bj2{z-index: 10;/* display: none; */}

#head_app{position: sticky;z-index: 10000;top: 0;left: 0;right: 0;}
.head{box-shadow: 0 1px 4px rgba(100, 100, 100, 0.1);width: 100%;box-sizing: border-box;background: #fff;font-size: 16px;position: fixed;top: 0;overflow: hidden;}

.head .cont{height: 123px;margin: 0 auto;background-color: #fff;}
.zhHead{height: 123px;}

.T-Logo{width:auto; height:72px; display: block;margin-right: 20px;}
.T-Logo a{width: 100%;height: 100%; display: block;}
.T-Logo img{width: auto;height: 100%; display: block;}

.orderNavTwo{height: 50%;z-index: 10;}
.orderNavTwo .w1200{align-items: flex-start;}
.orderNavTwo .tt{ text-align: center; box-sizing: border-box;margin-right: 40px;height: 100%;}
.orderNavTwo .tt:nth-child(7){margin-right: 0;}
.orderNavTwo .tt>a{display: flex;height: 100%;padding: 0 0;color: #222;align-items: center;}
.orderNavTwo .tt.on>a{ color: #c11719; }
.orderNavTwo .tt>a:hover{color: #c11719;}

.Rseach{display: flex;justify-content: flex-end;align-items: center;height: 50%;width: 100%;padding: 35px 0 0;box-sizing: border-box;width: auto;}
.Rseach input{width: 0;height: 30px;border: 1px solid #e1e1e1;display: block;border-radius: 15px;transition: all 1s;opacity: 0;cursor: text;}
.Rseach .icon{width: 23px;height:21px;display: block;margin: 0 20px;}
.Rseach:hover input{width: 200px;padding: 0 20px;opacity: 1;}

.searchM{display: none;}
.searchPC{display: flex;align-items: flex-end;flex-direction: column;}

.mobile-Btn{width: 50px;height: 80px;display: none;align-items: center;}
.mobile-Btn img{height: 40px;}
.mobile-Btn em{width: 100%;height: 1px;background: #999;margin: 3px 0;}

.headH{height: 60px;width: 100%;}

.mNav{width: 100%;background-color: #fff;position: fixed;top: 0;left: 0;right: 0;bottom: 0;overflow-y: auto;z-index: 100000;}
.mNav .close{margin: 30px;position: absolute;top: 0;left: 0;}
.Mseach{margin: 115px 75px 80px;position: relative;display: block;/* background-image: url(images/input.png); */}
.Mseach input{width: 100%;height: 60px;border-radius: 30px;font-size: 26px;text-indent: 30px;position: relative;background: none!important;}
.Mseach img{width: 40px;position: absolute;right: 20px;top: 10px;}
.Mseach .input{width: 100%;height: 100%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}


.orderNavTwo.mobile{background-color: #f5f5f5; display: none;width: 100%;box-sizing: border-box;font-size: 26px;height: auto;}
.orderNavTwo.mobile .tt{border-bottom: 1px solid #E1E1E1;margin: 0 30px;line-height: 100px;min-height: 100px;position: relative;padding-left: 0;}
.orderNavTwo.mobile .tt>a{line-height: 100px;}
.orderNavTwo .off,.orderNavTwo .onn{width: 15px;position: absolute;right: 0;top: 30px;padding: 24px;}
.orderNavTwo .off{top:20px;}
.orderNavTwo.mobile .Asamll{box-shadow: none;background-color: #f5f5f5;position: relative;width: 100%;}
.orderNavTwo.mobile .Asamll .Achild{line-height: 80px;font-size: 22px;height: 80px;border-bottom: none;}


.orderNavTwo.mobile .Asamll{height: 0;display: none;opacity: 1;}
.orderNavTwo.mobile .Asamll .Bsamll{display: none;}
.orderNavTwo .off img{width: 12px;height: 12px;}
.orderNavTwo .onn img{width: 12px;height: 2px;}

/*以下自适应样式*/
@media screen and ( max-width: 1300px){
	.fsbanner .item{height: auto;}
}


@media screen and ( max-width: 1000px){
	.orderNavTwo .tt>a{padding: 0 5px;}
	
	.orderNavTwo .tt{margin-right: 10px;}
}

@media screen and ( max-width: 800px){
	.zhHead{height: 80px;}
	.head{display: flex;align-items: center;justify-content: space-between;}
	.head .logoCont{padding: 10px 2%;}
	.T-Logo{height: 47px;margin: 0;}
	.Rphone{display: none;}
	.mobile-Btn{display: flex;}
	.head .cont{height: 80px;align-items: center;}
	.headH{height: 50px;}
	.Rseach{margin-left: 30px; padding: 40px 0 0;}
	
	
	.orderNavTwo.pc{display: none;}
	.orderNavTwo.mobile{display: block;}
	
	.searchPC{display: none;}
	.searchM{display: block;}
	.searchM a{display: block;padding: 10px 0 11px 10px;height: 100%;}
	
	.orderNavTwo.mobile .Asamll{display: block;height: auto;opacity: 1;}
	.orderNavTwo.mobile .Asamll .Achild{opacity: 1;}
	/* .orderNavTwo .tt:hover .Asamll{display: block;height: auto;} */
	/* .Asamll .Achild:hover .Bsamll{display: none;} */
	
	/* 二级导航 */
	/* .Asamll{display: block; width: 100%;left: auto;transform:initial;right: 100%;top: 0;position: initial;}
	.Bsamll{width: 100%;left: auto;right: 100%;border-left:0;border-right: 1px solid #555;}
	.Asamll .Achild{font-size: 13px;}
	
	.zhHead{height: 80px;}
	.Rseach .icon{margin: 0;}
	 */
	/* .orderNavTwo.mobile .tt{display: flex;} */
}

@media screen and ( max-width: 500px){
	.head .cont{justify-content: space-between;height: 70px;}
	.zhHead{height: 50px;}
	.T-Logo{height: 37px;}
	.mobile-Btn{height: 50px;width: 30px;}
	.mobile-Btn img{height: 25px;}
	.Rseach{margin: 0;padding: 25px 0 0;}
	
	.head .cont{padding: 0 4%;}
	
	.mNav .close{margin: 20px;width: 20px;}
	.Mseach{margin: 80px 5% 40px;}
	.Mseach input{height: 35px;font-size: 16px;text-indent: 20px;}
	.Mseach img{width: 20px;}
	
	.orderNavTwo.mobile{font-size: 20px;}
	.orderNavTwo.mobile .tt{margin: 0 15px;min-height: 60px;}
	.orderNavTwo.mobile .tt>a{line-height: 60px;font-size: 16px;}
	.orderNavTwo.mobile .Asamll{padding-bottom: 10px;}
	.orderNavTwo.mobile .Asamll .Achild{font-size: 14px;line-height: 40px;height: 40px;}
	.orderNavTwo .off{top: 0;}
	.orderNavTwo .onn{top: 10px;}
	
	#head_app{height: 70px;}
}


</style>
