<div id="head_app">

	<!-- <div class="zhHead"></div> -->

	<div class="head" :style="language=='_e'?'letter-spacing:1px!important':''">

		<div class="cont flexRowBetween w1660">
			<div class="mobile-Btn" @click="shownav">
				<img src="images/icon-01.png">
			</div>

			<div class="T-Logo"><a href="index.html"><img src="images/home-img1.png"></a></div>

			<div class="searchM">
				<a href="seach.html"><img class="icon" style="height: 22px;" src="images/icon-02.png"></a>
			</div>

			<div style="height: 100%;" class="searchPC">
				<div class="Rseach">
					<input type="text" v-on:keydown.enter="goSearch" v-model="title"
						:placeholder="language=='_e'?'Search content':(language=='_f'?'請輸入你要蒐索的內容':'请输入你要搜索的内容')" />
					<a href="seach.html"><img class="icon" src="images/home-icon0.png"></a>
				</div>
				<div class="orderNavTwo pc flexRowBetween fs16">
					<!-- <div class="tt" :class="currentUrl=='/index.html'?'on':''"><a href="index.html">{{language=='_e'?'Home':(language=='_f'?'首頁':'首页')}}</a></div> -->
					<div class="tt" :class="currentUrl=='/about-us.html'?'on':''"><a
							href="about-us.html">{{language=='_e'?'About Us':(language=='_f'?'關於華匯':'关于华汇')}}</a></div>
					<div class="tt pr" :class="currentUrl=='/classic-cases.html'||(menu_id!=5&&menu_id!=0)?'on':''">
						<a href="classic-cases.html"
							@click="goCase(1)">{{language=='_e'?'Case':(language=='_f'?'經典案例':'经典案例')}}</a>
						<div class="Asamll alAsamll">
							<div class="Achild" v-for="(item,index) in labelData" :key="item.id">
								<div class="Aname">
									<a class="link" @click="goCase(2,item)">{{item['title'+language]}}</a>
								</div>
							</div>
						</div>
					</div>
					<div class="tt pr" :class="currentUrl=='/agent-brand.html'?'on':''">
						<a href="agent-brand.html">{{language=='_e'?'Brand':(language=='_f'?'品牌中心':'品牌中心')}}</a>
						<!-- <div class="ppA"> -->
						<div class="Asamll ppAsamll">
							<div class="Achild" v-for="(item,index) in brandData" :key="item.id">
								<div class="Aname">
									<a class="link" @click="goProduct(item)">{{item['title'+language]}}
										<em class="pdl5" v-if="item.child&&item.child.length>0">&gt;</em>
									</a>
								</div>
								<div class="bBox">
									<div class="Bsamll">
										<a v-for="(c_item,c_index) in item.child" @click="goDetail(item,c_item)"
											:key="c_item.id" class="Bchild">{{c_item['title'+language]}}</a>
									</div>
								</div>
							</div>
						</div>
						<!-- </div> -->
					</div>
					<div class="tt" :class="currentUrl=='/news.html'||menu_id==5?'on':''"><a
							href="news.html">{{language=='_e'?'News':(language=='_f'?'公司動態':'公司动态')}}</a></div>
					<div class="tt" :class="currentUrl=='/download.html'?'on':''"><a
							href="download.html">{{language=='_e'?'Download':(language=='_f'?'下載中心':'下载中心')}}</a></div>
					<div class="tt" :class="currentUrl=='/rental.html'?'on':''"><a
							href="rental.html">{{language=='_e'?'Rental':(language=='_f'?'租賃網絡':'租赁网络')}}</a></div>
					<div class="tt" :class="currentUrl=='/contact-us.html'?'on':''"><a
							href="contact-us.html">{{language=='_e'?'Contact Us':(language=='_f'?'聯繫我們':'联系我们')}}</a>
					</div>
					<div class="tt" style="display: flex;align-items: center;">
						<img src="./images/tmall.png" style="width: 40px;margin-top: 2px;margin-right: 5px;">
						<a :href="link" target="_blank">{{language=='_e'?'Tmall':(language=='_f'?'天貓商城':'天猫商城')}}</a>
					</div>

					<div class="language">
						<span class="hand" :class="language==''?'lang':''" @click="changeLanguage('')">简</span>/
						<span class="hand" :class="language=='_f'?'lang':''" @click="changeLanguage('_f')">繁</span>/
						<span class="hand" :class="language=='_e'?'lang':''" @click="changeLanguage('_e')">EN</span>
					</div>
				</div>

			</div>
		</div>

		<!-- 移动端显示导航 -->
		<div class="mNav animated fadeInLeft" v-show="is_showNav">
			<img class="close" src="images/icon-09.png" @click="shownav">
			<div class="language langM">
				<span class="hand" :class="language==''?'lang':''" @click="changeLanguage2('')">简</span> /
				<span class="hand" :class="language=='_f'?'lang':''" @click="changeLanguage2('_f')">繁</span> /
				<span class="hand" :class="language=='_e'?'lang':''" @click="changeLanguage2('_e')">EN</span>
			</div>
			<a href="seach.html" class="Mseach">
				<img src="images/input.png" class="input">
				<input type="text" name="" id="" value=""
					:placeholder="language=='_e'?'Search...':(language=='_f'?'搜索...':'搜索...')" />
				<img class="icon" src="images/icon-02.png">
			</a>

			<div class="orderNavTwo mobile flexRowBetween fs16">
				<!-- <div class="tt" :class="currentUrl=='/index.html'?'on':''">
					<a @click="go(1)">{{language=='_e'?'Home':(language=='_f'?'首頁':'首页')}}</a>
					<div class="off">
						<img src="images/icon-08.png">
					</div>
				</div> -->
				<div class="tt" :class="currentUrl=='/about-us.html'?'on':''"><a
						@click="go(2)">{{language=='_e'?'About Us':(language=='_f'?'關於華匯':'关于华汇')}}</a>
					<div class="off">
						<img src="images/icon-08.png">
					</div>
				</div>
				<div class="tt" :class="currentUrl=='/classic-cases.html'||(menu_id!=5&&menu_id!=0)?'on':''">
					<a @click="go(3)">{{language=='_e'?'Case':(language=='_f'?'經典案例':'经典案例')}}</a>
					<div class="off" v-show="show1" @click="showOff('one')">
						<img src="images/icon-08.png">
					</div>
					<div class="onn" v-show="!show1" @click="showOff('one')">
						<img src="images/icon-07.png">
					</div>

					<div class="Asamll AnliLabel" v-show="!show1">
						<div class="Achild" v-for="(item,index) in labelData" :key="item.id">
							<div class="Aname">
								<a class="link" @click="go(3,item)">{{item['title'+language]}}</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tt pr" :class="currentUrl=='/agent-brand.html'?'on':''">
					<a @click="go(4)">{{language=='_e'?'Brand':(language=='_f'?'品牌中心':'品牌中心')}}</a>
					<div class="off" v-show="show2" @click="showOff('two')">
						<img src="images/icon-08.png">
					</div>
					<div class="onn" v-show="!show2" @click="showOff('two')">
						<img src="images/icon-07.png">
					</div>
					<div class="Asamll centerLabel" v-show="!show2">
						<div class="Achild" v-for="(item,index) in brandData" :key="item.id">
							<div class="Aname">
								<a class="link" @click="go(4,item)">{{item['title'+language]}}
									<!-- <em class="pdl5" v-if="item.child&&item.child.length>0">&gt;</em> -->
								</a>
							</div>
							<!-- <div class="off" v-show="show" @click="showOff(two)">
								<img src="images/icon-08.png">
							</div>
							<div class="onn" v-show="!show" @click="showOff(two)">
								<img src="images/icon-07.png" >
							</div> -->
							<div class="Bsamll">
								<a v-for="(c_item,c_index) in item.child" :key="c_item.id" class="Bchild"
									@click="go(4,item,c_item)">{{c_item['title'+language]}}</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tt" :class="currentUrl=='/news.html'?'on':''||menu_id==5"><a
						@click="go(5)">{{language=='_e'?'News':(language=='_f'?'公司動態':'公司动态')}}</a>
					<div class="off">
						<img src="images/icon-08.png">
					</div>
				</div>

				<div class="tt" :class="currentUrl=='/download.html'?'on':''"><a
						@click="go(6)">{{language=='_e'?'Download':(language=='_f'?'下載中心':'下载中心')}}</a>
					<div class="off">
						<img src="images/icon-08.png">
					</div>
				</div>
				<div class="tt" :class="currentUrl=='/rental.html'?'on':''"><a
						@click="go(8)">{{language=='_e'?'Rental':(language=='_f'?'租賃網絡':'租赁网络')}}</a>
					<div class="off">
						<img src="images/icon-08.png">
					</div>
				</div>
				<div class="tt" :class="currentUrl=='/contact-us.html'?'on':''"><a
						@click="go(7)">{{language=='_e'?'Contact Us':(language=='_f'?'聯繫我們':'联系我们')}}</a>
					<div class="off">
						<img src="images/icon-08.png">
					</div>
				</div>
				<div class="tt" style="display: flex;align-items: center;border-bottom: none;">
					<img src="./images/tmall.png" style="width: 40px;margin-top: 2px;margin-right: 5px;">
					<a @click="isWeiXin" target="_blank">{{language=='_e'?'Tmall':(language=='_f'?'天貓商城':'天猫商城')}}</a>
					<div class="off">
						<img src="images/icon-08.png">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="black-bj2" v-show="wx" style="z-index: 10001;" >
		<img src="images/zi.png" style="width: 100%;margin-top: 20px;">
	</div>
	<!-- <div class="headH"></div> -->

</div>


<script type="text/javascript">
	var head_app = new Vue({
		el: '#head_app',
		data: function() {
			return {
				banner_index: 0,
				is_toggle: false,
				currentUrl: '',
				is_show: false,
				searchItem: {
					thirdapp_id: window.base.thirdapp_id,
					title: ''
				},
				bannerTimer: null,
				is_showNav: false,
				brandData: [],
				labelData: [],
				menu_id: 0,
				show1: true,
				show2: true,
				title: '',

				language: '',

				link: '',
				
				wx:false
			}
		},
		created: function() {
			var self = this;
			self.getBrandData();
			self.getLabelData();
			self.is_showNav = false;
			// if(window.screen.width<1000){
			// 	// self.is_showNav = true;
			// 	// self.is_show = false
			// 	// $(".orderNavTwo").css('display','none');
			// 	// $(".black-bj2").css('display','none');
			// }else{
			// 	// self.is_showNav = false;
			// 	// self.is_show = true

			// };
			var currentUrl = window.base.GetUrlRelativePath();

			var reg = /\/([^\/]+)\.html/i;
			if (reg.exec(currentUrl) && reg.exec(currentUrl)[0]) {
				self.currentUrl = reg.exec(currentUrl)[0];
			} else {
				self.currentUrl = '/index.html';
			};


			window.base.bus.$on('to_headBanner', (res) => {
				if (res) {
					self.menu_id = res
				};
			});
			self.languageChange();
			self.getLinkData();
			self.detectVersion()
			/* self.bannerTimer = setInterval(function(){
				self.changeBanner('+');
			},3000) */
		},

		destroyed() {
			const self = this;
			clearInterval(this.timer);
			self.bannerTimer = null;
		},
		methods: {

			detectVersion() {
				let isAndroid, isIOS, isIOS9, version,
					u = navigator.userAgent,
					ua = u.toLowerCase();

				if (u.indexOf('Android') > -1 || u.indexOf('Linux') > -1) { //android终端或者uc浏览器
					//Android系统
					isAndroid = true
				}

				if (ua.indexOf("like mac os x") > 0) {
					//ios
					var regStr_saf = /os [\d._]*/gi;
					var verinfo = ua.match(regStr_saf);
					version = (verinfo + "").replace(/[^0-9|_.]/ig, "").replace(/_/ig, ".");
				}
				var version_str = version + "";
				if (version_str != "undefined" && version_str.length > 0) {
					version = parseInt(version)
					if (version >= 8) {
						// ios9以上
						isIOS9 = true
					} else {
						isIOS = true
					}
				}
				console.log('isAndroid', isAndroid, isIOS, isIOS9, u, ua)
				return {
					isAndroid,
					isIOS,
					isIOS9
				}
			},
			
			isWeiXin(){
				const self = this;
				var callback = () => {
					window.location.href = self.link;
				}
				self.openApp('tmall://page.tm/shop?shopId=580592335',callback);
			},

			// 判断手机上是否安装了app，如果安装直接打开url，如果没安装，执行callback
			openApp(url, callback) {
				const self = this;
				let {
					isAndroid,
					isIOS,
					isIOS9
				} = self.detectVersion();
				if(!isAndroid&&!isIOS&&!isIOS9){
					window.location.href = self.link;
					return;
				}
				if (isAndroid || isIOS) {
					var timeout, t = 4000,
						hasApp = true;
					var openScript = setTimeout(function() {
						if (!hasApp) {
							callback && callback()
						}
						document.body.removeChild(ifr);
					}, 5000)

					var t1 = Date.now();
					var ifr = document.createElement("iframe");
					ifr.setAttribute('src', url);
					ifr.setAttribute('style', 'display:none');
					document.body.appendChild(ifr);

					timeout = setTimeout(function() {
						var t2 = Date.now();
						if (t2 - t1 < t + 100) {
							hasApp = false;
						}
					}, t);
				}

				if (isIOS9) {
					location.href = url;
					setTimeout(function() {
						callback && callback()
					}, 250);
					setTimeout(function() {
						location.reload();
					}, 1000);
				}
			},

			languageChange() {
				const self = this;
				var lang = localStorage.getItem('language');
				if (lang) {
					self.language = lang;
				} else {
					self.language = '';
				}
				console.log('laguage', self.language)
			},

			changeLanguage(type) {
				const self = this;
				self.language = type;
				localStorage.setItem('language', type)
				window.base.bus.$emit('changelanguage', type);
			},

			changeLanguage2(type) {
				const self = this;
				self.language = type;
				self.is_showNav = false;
				window.location.href = 'index.html';
				localStorage.setItem('language', type)
				window.base.bus.$emit('changelanguage', type);
			},

			goCase(type, item) {
				const self = this;
				sessionStorage.setItem('page', 1);
				if (type == 1) {
					window.location.href = 'classic-cases.html';
				} else {
					window.location.href = 'classic-cases.html?menu_id=' + item.id;
				}
			},

			goProduct(item) {
				const self = this;
				sessionStorage.removeItem('currId');
				window.location.href = 'product.html?id=' + item.id + '&currId=-1' + '&behavior=' + item.behavior;
			},

			goDetail(item, c_item) {
				const self = this;
				sessionStorage.removeItem('currId');
				window.location.href = 'product.html?id=' + item.id + '&childId=' + c_item.id + '&behavior=' + item
					.behavior;
			},

			go(type, item, c_item) {
				const self = this;
				self.is_showNav = false;
				console.log(self.is_showNav, type);
				setTimeout(function() {
					switch (type) {
						case 1:
							window.location.href = 'index.html';
							break;
						case 2:
							window.location.href = 'about-us.html';
							break;
						case 3:
							if (item) {
								window.location.href = 'classic-cases.html?menu_id=' + item.id;
							} else {
								window.location.href = 'classic-cases.html';
							}
							break;
						case 4:
							sessionStorage.removeItem('currId');
							if (c_item) {
								window.location.href = 'product.html?id=' + item.id + '&childId=' + c_item
									.id + '&behavior=' + item.behavior;
							} else if (item) {
								window.location.href = 'product.html?id=' + item.id + '&behavior=' + item
									.behavior;
							} else {
								window.location.href = 'agent-brand.html';
							}
							break;
						case 5:
							window.location.href = 'news.html';
							break;
						case 6:
							window.location.href = 'download.html';
							break;
						case 7:
							window.location.href = 'contact-us.html';
							break;
						case 8:
							window.location.href = 'rental.html';
							break;
						default:
							break;
					}
				}, 300)
			},

			goSearch() {
				const self = this;
				window.location.href = 'seach.html?title=' + self.title
			},

			showOff(type) {
				const self = this;
				if (type == 'one') {
					self.show1 = !self.show1;
					// if(self.show1){
					// 	$('.AnliLabel').css({
					// 		height:'0',
					// 		display:'none'
					// 	});
					// }else{
					// 	$('.AnliLabel').css({
					// 		height:'auto',
					// 		display:'block'
					// 	});
					// }
				}
				if (type == 'two') {
					self.show2 = !self.show2;
					// if(self.show2){
					// 	$('.centerLabel').css({
					// 		height:'0',
					// 		display:'none'
					// 	});
					// }else{
					// 	$('.centerLabel').css({
					// 		height:'auto',
					// 		display:'block'
					// 	});
					// }
				}
			},

			shownav() {
				const self = this;
				// if($(".orderNavTwo.mobile").css('display')=='none'){
				// 	$(".orderNavTwo.mobile").show()
				// 	$(".black-bj2").show()
				// }else{
				// 	$(".orderNavTwo.mobile").hide()
				// 	$(".black-bj2").hide()
				// }
				self.is_showNav = !self.is_showNav;
				self.is_show = !self.is_show;
				if (self.is_showNav) {
					window.base.bus.$emit('to_index', true);
				}
				if (!self.is_showNav) {
					window.base.bus.$emit('to_index', false);
				}
			},

			getBrandData() {
				const self = this;
				const postData = {};

				postData.searchItem = {
					parentid: 0,
					type: 5
				};
				postData.order = {
					listorder: 'asc'
				};
				postData.getAfter = {
					child: {
						tableName: 'Label',
						middleKey: 'id',
						key: 'parentid',
						searchItem: {
							status: 1
						},
						condition: '=',
						order: {
							listorder: 'asc'
						}
					}
				};
				const callback = (res) => {
					if (res.info.data.length > 0) {
						self.brandData.push.apply(self.brandData, res.info.data);
					}
				};
				window.base.labelGet(postData, callback);
			},

			getLabelData() {
				const self = this;
				const postData = {};
				postData.searchItem = {
					thirdapp_id: 2
				};
				postData.getBefore = {
					caseData: {
						tableName: 'Label',
						searchItem: {
							title: ['in', ['案例中心']],
						},
						middleKey: 'parentid',
						key: 'id',
						condition: 'in',
					},
				};
				postData.order = {
					listorder: 'asc'
				};
				const callback = (res) => {
					if (res.info.data.length > 0) {
						self.labelData.push.apply(self.labelData, res.info.data);
					}
				};
				window.base.labelGet(postData, callback);
			},

			getLinkData() {
				const self = this;
				const postData = {};
				postData.searchItem = {
					id: 152
				};
				const callback = (res) => {
					if (res.info.data.length > 0) {
						self.link = res.info.data[0].description;
					}
				};
				window.base.labelGet(postData, callback);
			}

		}
	});
</script>

<style>
	.lang {
		color: #C11719;
	}

	/* 二级导航 */
	.Asamll {
		width: 230px;
		position: absolute;
		left: 0;
		/* top:0; */
		/* transform: translateX(-50%); */
		background: #fff;
		color: rgba(34, 34, 34, 0);
		text-align: left;
		/* display: none; */
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
		height: 0;
		transition: all 0.2s;
		letter-spacing: 1px;
		opacity: 0;
		/* overflow: hidden; */
	}

	/* .ppAsamll{top: 10px;left: 10px;} */
	.ppA {
		width: 230px;
		position: absolute;
		overflow: hidden;
		height: 0;
		left: -10px;
	}

	/* .AnliLabel{left: 45.4%;} */
	.Asamll .Achild {
		line-height: 45px;
		height: 0px;
		position: absolute;
		width: 100%;
		position: relative;
		font-size: 14px;
		box-sizing: border-box;
		border-bottom: 1px solid #f5f5f5;
		opacity: 0;
		z-index: 5;
	}

	.Aname {
		padding: 0 15px;
		box-sizing: border-box;
		height: 0;
	}

	.Aname>.link {
		color: #222;
		width: 100%;
		display: block;
		width: 100%;
	}

	.Asamll .Achild:hover,
	.Bsamll .Bchild:hover {
		background: #F5F5F5;
	}

	/* .Asamll .Achild .Aname:hover .link{color: #fff;} */
	.Asamll .Achild .Aname em {
		font-size: 13px;
	}

	.head:hover {
		overflow: initial;
	}

	.Bsamll {
		/* position: absolute;left: 100%;top: -100%; */
		width: 230px;
		background: #fff;
		/* display:none; */
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
		transition: all 0.15s;
		/* opacity: 0; */
		max-height: 400px;
		overflow-y: auto;
	}
	
	.Bsamll::-webkit-scrollbar { width: 10px;height: 10px;}
	.Bsamll::-webkit-scrollbar-thumb {
		transition: all 0.3s; 
		background-color: rgba(193, 193, 193, 0.3);
		background-clip: padding-box;
		border-width: 3px;
		border-color: transparent;
		border-style: solid;
		border-radius: 5px;
	}
	.Bsamll::-webkit-scrollbar-thumb:hover {
		background-color: rgba(189, 189, 189, 0.8);
	}

	.Bsamll .Bchild {
		display: block;
		font-size: 14px;
		padding: 0 15px;
		box-sizing: border-box;
		color: #222;
		border-bottom: 1px solid #f5f5f5;
	}

	.Bsamll .Bchild:last-child {
		border-bottom: 0;
	}

	.bBox {
		height: 0;
		overflow: hidden;
		position: absolute;
		left: 225px;
		transition: all 0.3s;
		top: -10px;
		width: 240px;
	}

	.orderNavTwo .tt:hover .alAsamll {
		height: 270px;
		opacity: 1;
		color: rgba(34, 34, 34, 1);
	}

	.orderNavTwo .tt:hover .ppAsamll {
		height: 315px;
		opacity: 1;
		color: rgba(34, 34, 34, 1);
	}

	/* .orderNavTwo .tt:hover .Aname{} */
	.orderNavTwo .ppA:hover {
		overflow: initial;
	}

	/* .orderNavTwo .tt:hover .Asamll{top: 100%;opacity: 1;overflow: initial;} */
	/* .orderNavTwo .tt:hover .ppA{height: 450px;width: 480px;} */
	.orderNavTwo .tt:hover .Achild {
		opacity: 1;
		height: 45px;
	}

	.orderNavTwo .tt:hover .Aname {
		height: 45px;
	}

	/* .Asamll .Achild:hover .Bsamll{opacity: 1;top: 0;} */
	.Asamll .Achild:hover .bBox {
		height: 400px;
		padding-top: 10px;
		padding-left: 5px;
	}

	/* .orderNavTwo .tt:nth-child(7){margin-right: 0;} */

	.black-bj2 {
		z-index: 10;
		/* display: none; */
	}

	#head_app {
		position: fixed;
		z-index: 10000;
		top: 0;
		left: 0;
		right: 0;
	}

	.head {
		box-shadow: 0 1px 4px rgba(100, 100, 100, 0.1);
		width: 100%;
		box-sizing: border-box;
		background: #fff;
		font-size: 16px;
		position: absolute;
		top: 0;
		overflow: hidden;
	}

	.head .cont {
		height: 123px;
		margin: 0 auto;
		background-color: #fff;
	}

	.zhHead {
		height: 123px;
	}

	.T-Logo {
		width: auto;
		height: 72px;
		display: block;
		margin-right: 20px;
	}

	.T-Logo a {
		width: 100%;
		height: 100%;
		display: block;
	}

	.T-Logo img {
		width: auto;
		height: 100%;
		display: block;
	}

	.orderNavTwo {
		height: 50%;
		z-index: 10;
	}

	.orderNavTwo .w1200 {
		align-items: flex-start;
	}

	.orderNavTwo .tt {
		text-align: center;
		box-sizing: border-box;
		margin-right: 40px;
		height: 100%;
	}

	.orderNavTwo .tt:nth-child(8) {
		margin-right: 0;
	}

	.orderNavTwo .tt>a {
		display: flex;
		height: 100%;
		padding: 0 0;
		color: #222;
		align-items: center;
	}

	.orderNavTwo .tt.on>a {
		color: #c11719;
	}

	.orderNavTwo .tt>a:hover {
		color: #c11719;
	}

	.Rseach {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 50%;
		width: 100%;
		padding: 35px 0 0;
		box-sizing: border-box;
		width: auto;
	}

	.Rseach input {
		width: 0;
		height: 30px;
		border: 1px solid #e1e1e1;
		display: block;
		border-radius: 15px;
		transition: all 1s;
		opacity: 0;
		cursor: text;
	}

	.Rseach .icon {
		width: 23px;
		height: 21px;
		display: block;
		margin: 0 20px;
	}

	.Rseach:hover input {
		width: 200px;
		padding: 0 20px;
		opacity: 1;
	}

	.searchM {
		display: none;
	}

	.searchPC {
		display: flex;
		align-items: flex-end;
		flex-direction: column;
	}

	.mobile-Btn {
		width: 50px;
		height: 80px;
		display: none;
		align-items: center;
	}

	.mobile-Btn img {
		height: 40px;
	}

	.mobile-Btn em {
		width: 100%;
		height: 1px;
		background: #999;
		margin: 3px 0;
	}

	.headH {
		height: 60px;
		width: 100%;
	}

	.mNav {
		width: 100%;
		background-color: #fff;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow-y: auto;
		z-index: 1000;
	}

	.mNav .close {
		margin: 30px;
		position: absolute;
		top: 0;
		left: 0;
	}

	.Mseach {
		margin: 115px 75px 80px;
		position: relative;
		display: block;
		/* background-image: url(images/input.png); */
	}

	.Mseach input {
		width: 100%;
		height: 60px;
		border-radius: 30px;
		font-size: 26px;
		text-indent: 30px;
		position: relative;
		background: none !important;
	}

	.Mseach img {
		width: 40px;
		position: absolute;
		right: 20px;
		top: 10px;
	}

	.Mseach .input {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}


	.orderNavTwo.mobile {
		background-color: #f5f5f5;
		display: none;
		width: 100%;
		box-sizing: border-box;
		font-size: 26px;
		height: auto;
	}

	.orderNavTwo.mobile .tt {
		border-bottom: 1px solid #E1E1E1;
		margin: 0 30px;
		line-height: 100px;
		min-height: 100px;
		position: relative;
		padding-left: 0;
	}

	.orderNavTwo.mobile .tt>a {
		line-height: 100px;
	}

	.orderNavTwo .off,
	.orderNavTwo .onn {
		width: 15px;
		position: absolute;
		right: 0;
		top: 30px;
		padding: 24px;
	}

	.orderNavTwo .off {
		top: 20px;
	}

	.orderNavTwo.mobile .Asamll {
		box-shadow: none;
		background-color: #f5f5f5;
		position: relative;
		width: 100%;
	}

	.orderNavTwo.mobile .Asamll .Achild {
		line-height: 80px;
		font-size: 22px;
		height: 80px;
		border-bottom: none;
	}


	.orderNavTwo.mobile .Asamll {
		height: 0;
		display: none;
		opacity: 1;
	}

	.orderNavTwo.mobile .Asamll .Bsamll {
		display: none;
	}

	.orderNavTwo .off img {
		width: 12px;
		height: 12px;
	}

	.orderNavTwo .onn img {
		width: 12px;
		height: 2px;
	}

	.language {
		padding-left: 30px;
		letter-spacing: initial;
	}

	.langM {
		position: absolute;
		padding: 30px;
		top: 0;
		right: 0;
		font-size: 20px;
	}

	/*以下自适应样式*/
	@media screen and (max-width: 1300px) {
		.fsbanner .item {
			height: auto;
		}

		.orderNavTwo {
			font-size: 14px;
		}

		.language {
			padding-left: 20px;
		}
	}

	@media screen and (max-width: 1100px) {
		.orderNavTwo .tt>a {
			padding: 0 5px;
		}

		.orderNavTwo .tt {
			margin-right: 10px;
		}
	}

	@media screen and (max-width: 1000px) {
		.T-Logo {
			height: 60px;
		}

		.orderNavTwo .tt>a {
			padding: 0 5px;
		}

		.orderNavTwo .tt {
			margin-right: 10px;
		}
	}

	@media screen and (max-width: 920px) {
		.orderNavTwo .tt>a {
			padding: 2px;
			letter-spacing: 1px;
		}

		.language {
			padding-left: 10px;
		}
	}


	@media screen and (max-width: 800px) {
		.zhHead {
			height: 80px;
		}

		.head {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.head .logoCont {
			padding: 10px 2%;
		}

		.T-Logo {
			height: 47px;
			margin: 0;
		}

		.Rphone {
			display: none;
		}

		.mobile-Btn {
			display: flex;
		}

		.head .cont {
			height: 80px;
			align-items: center;
		}

		.headH {
			height: 50px;
		}

		.Rseach {
			margin-left: 30px;
			padding: 40px 0 0;
		}


		.orderNavTwo.pc {
			display: none;
		}

		.orderNavTwo.mobile {
			display: block;
		}

		.searchPC {
			display: none;
		}

		.searchM {
			display: block;
		}

		.searchM a {
			display: block;
			padding: 10px 0 11px 10px;
			height: 100%;
		}

		.orderNavTwo.mobile .Asamll {
			display: block;
			height: auto;
			opacity: 1;
		}

		.orderNavTwo.mobile .Asamll .Achild {
			opacity: 1;
		}

		/* .orderNavTwo .tt:hover .Asamll{display: block;height: auto;} */
		/* .Asamll .Achild:hover .Bsamll{display: none;} */

		/* 二级导航 */
		/* .Asamll{display: block; width: 100%;left: auto;transform:initial;right: 100%;top: 0;position: initial;}
	.Bsamll{width: 100%;left: auto;right: 100%;border-left:0;border-right: 1px solid #555;}
	.Asamll .Achild{font-size: 13px;}
	
	.zhHead{height: 80px;}
	.Rseach .icon{margin: 0;}
	 */
		/* .orderNavTwo.mobile .tt{display: flex;} */
		.orderNavTwo .tt>a {
			letter-spacing: 3px;
		}
	}

	@media screen and (max-width: 500px) {
		.head .cont {
			justify-content: space-between;
			height: 70px;
		}

		.zhHead {
			height: 50px;
		}

		.T-Logo {
			height: 37px;
		}

		.mobile-Btn {
			height: 50px;
			width: 30px;
		}

		.mobile-Btn img {
			height: 25px;
		}

		.Rseach {
			margin: 0;
			padding: 25px 0 0;
		}

		.head .cont {
			padding: 0 4%;
		}

		.mNav .close {
			margin: 20px;
			width: 20px;
		}

		.Mseach {
			margin: 80px 5% 40px;
		}

		.Mseach input {
			height: 35px;
			font-size: 16px;
			text-indent: 20px;
		}

		.Mseach img {
			width: 20px;
		}

		.orderNavTwo.mobile {
			font-size: 20px;
		}

		.orderNavTwo.mobile .tt {
			margin: 0 15px;
			min-height: 60px;
		}

		.orderNavTwo.mobile .tt>a {
			line-height: 60px;
			font-size: 16px;
		}

		.orderNavTwo.mobile .Asamll {
			padding-bottom: 10px;
		}

		.orderNavTwo.mobile .Asamll .Achild {
			font-size: 14px;
			line-height: 40px;
			height: 40px;
		}

		.orderNavTwo .off {
			top: 0;
		}

		.orderNavTwo .onn {
			top: 10px;
		}

		.langM {
			font-size: 16px;
		}

		#head_app {
			height: 70px;
		}
	}
</style>
