<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>产品推荐</title>
		<script type="text/javascript" src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/include.js"></script>
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<link type="text/css" rel="stylesheet" href="css/orderNav.css">
		<link type="text/css" rel="stylesheet" href="css/product.css">
		
	</head>
	<style type="text/css">
		.orderNav{flex-wrap: wrap;}
		
		.productList{min-height: 400px;}
		
		@media only screen and (max-width: 500px){
			.orderNav{padding-bottom: 0;padding-top: 0;}
			#head_app{height: 70px;}
		}
	</style>

<body>
	<div id="app">
		<div class="headTop"></div>
		
		<include src="header.html"></include>
		
		<div class="w1100">
			<div class="orderNav flexCenter borderB1">
				<span class="tt flexCenter" :class="currId==-1?'on':''"
				@click="changeCurr(-1,0)">全部</span>
				<span class="tt flexCenter" :class="currId==item.id?'on':''" 
				@click="changeCurr(item.id,item.behavior)" v-for="(item,index) in labelData" :key="index">{{item.title}}</span>
			</div>
		</div>
		
		<div class="pdb80">
			<div class="productList center">
				<ul class="flex" :class="behavior==1?'Two':''">
					<li v-for="(item,index) in mainData" :key="index">
						<a class="flexColumn" :href="'productDeail.html?id='+item.id">
							<h1 class="tit">{{item.title}}</h1>
							<div class="pic">
								<img :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''">
							</div>
						</a>
					</li>
				</ul>
				
			</div>
			
			<div class="all-pages mgt30">
				<span class="no-prev flexCenter" data-type="back" @click="changePage"><img class="arrow" src="images/case-icon5.png"></span>
				<span v-for="item in pageArray" :class="item == paginate.currentPage?'on':''" @click="linkTo(item)">{{item}}</span>
				<span class="next flexCenter" data-type="next" @click="changePage"><img class="arrow" src="images/case-icon4.png"></span>
			</div>
		</div>
		
		<include src="footer.html"></include>
		
	</div>
</body>

	
	<script type="text/javascript">
		var app = new Vue({
		    el: '#app',
		    data:function(){
		        return {
		        	banner_index:0,
					
					mainData: [],
					labelData: [],
					
					behavior:-1,
					currId:-1,
					linkPage: [],
					pageArray: [],
					
					allPages: 0,
					paginate:{
						count: 0,
						currentPage: 1,
						pagesize: 6,
						is_page: true,
					},
		        }
		    },
			
			created () {
			    const self = this;
				console.log('222',window.base.GetRequest().childId)
				self.behavior = window.base.GetRequest().behavior;
				if(window.base.GetRequest().childId){
					self.changeCurr(window.base.GetRequest().childId,window.base.GetRequest().behavior)
				}
				self.getLabelData();
			},
			
		    methods: {
				
				changeCurr(id,behavior){
					const self = this;
					
					self.currId = id;
					
					self.mainData = [];
					self.paginate = {
						count: 0,
						currentPage: 1,
						pagesize: 6,
						is_page: true,
					},
					self.getMainData()
				},
				
				getLabelData() {
					const self = this;
					self.idArray = [];
					const postData = {};
					postData.searchItem = {
						thirdapp_id: 2,
						parentid:window.base.GetRequest().id
					};
					postData.order = {
						listorder:'asc'
					};
					const callback = (res) => {
						if (res.info.data.length > 0) {
							self.labelData.push.apply(self.labelData,res.info.data);
							for (var i = 0; i < self.labelData.length; i++) {
								self.idArray.push(self.labelData[i].id)
							};
							if(!window.base.GetRequest().childId){
								self.getMainData()
							}
							
						} else {
							self.getMainData()
						};
						
						
					};
					window.base.labelGet(postData, callback);
				},
				
				getMainData() {
					const self = this;
					const postData = {};
					postData.paginate = window.base.cloneForm(self.paginate);
					postData.searchItem = {
						thirdapp_id: 2
					};
					if(self.currId>0){
						postData.searchItem.menu_id= self.currId
					}else if(self.idArray.length==0){
						postData.searchItem.menu_id = window.base.GetRequest().id
					}else{
						postData.searchItem.menu_id = ['in',self.idArray]
					};
					postData.order = {
						listorder:'asc'
					};
					const callback = (res) => {
						if (res.info.data.length > 0) {
							self.mainData.push.apply(self.mainData,res.info.data);
							self.paginate['count'] = res.info.total;
							window.base.computePageArr(self);
						}
					};
					window.base.articleGet(postData, callback);
				},
				
				
				
				linkTo(item) {
					var self = this;
					console.log(item);
					self.linkPage = item;
					window.base.linkTo(self);
					console.log(self.pageArray)
				},
				
				changePage(e) {
					var self = this;
					var dataSet = window.base.getDataSet(e);
					window.base.changePage(dataSet, self);
				},
				
		    }
		});
	</script>
</html>